<%= render 'shared/errors', resource: @task %>

<%= form_for [:manager, @task] do |f| %>
  <br>
  <%= f.hidden_field :sub_process_id, value: params[:sub_process_id]%>
  <%= f.hidden_field :modifiable, value: params[:modifiable]%>
  <%= f.hidden_field :eliminable, value: params[:eliminable]%>

  <div class="small-8 columns" >
    <label for="item_description"><%= t('manager.tasks.form.description')%></label>
    <input list="item_description" type="text" name="item_desc" value="<%= @task.item.description unless @task.id.nil? %>" placeholder="<%= t('manager.tasks.form.description')%>" ">
    <datalist id="item_description"%>" >
      <% @items.each do |item| %>
        <% if @task.item_id == item[1] %>
          <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
          <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-12 column" ></div>
  <div class="small-1 column">
    <%= f.label :order, t('manager.tasks.form.order') %>
    <%= f.text_field :order, label: false,
        placeholder: t('manager.tasks.form.order')%>
  </div>

  <div class="actions small-12 column">
    <%= f.submit(t("actions.#{action_name}"), class: 'button tiny hollow') %>
  </div>

<% end %>

