<%= render "shared/index" %>

<h2><%= t("manager.tasks.index.title") %></h2>

<div class="row">
  <div class="column short-4">
    <br><%= link_to t("manager.tasks.index.create"),
              new_manager_task_path(period_id: params["period_id"],
                         organization_type_id: params["organization_type_id"],
                              main_process_id: params["main_process_id"],
                              sub_process_id: params["sub_process_id"]),
                class: "button large success hollow" %>
  </div>
</div>

<div>
  <% if @tasks.nil?  || @tasks.empty? %>
    <strong> <%=t("manager.tasks.index.empty") %> </strong>
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</div>
