  <% if @validations.present? %>
    <div class="medium-8 small-12 columns">
<!--
      Validación realizada por
      <%= login_to_full_name(@validations.take.updated_by)%> <br>
      el  <%= format_date(@validations.take.updated_at) %>
      <hr>
-->
      <ul>
        <% @validations.each do |validation| %>
          <li>
            <strong><%= validation.title %></strong>
            <% validation.data_errors.each do |error| %>
              <ul>
                <li>
                  <%= error %>
                </li>
              </ul>
            <% end %>
          </li>
       <% end %>
      </ul>
    </div>
  <% else %>
    <div class="medium-8 small-12 columns">
      <%= t('supervisor.unit_statuses.show.no_validation') %>
    </div>
  <% end %>
