<div class="row">
  <div class="short-12 columns">
    <h1 class="h2 text-center"><%= t('supervisor.unit_statuses.index.title') %></h1>
    <h2 class="h3 text-center"><%= @supervisor_unit_statuses.period.description %> </h2>
  </div>

  <div class="short-12 columns">
    <table class="indicator-metric">
      <thead>
      <tr>
        <th> </th>
        <th><%= t('supervisor.unit_statuses.index.unit') %> </th>
        <th><%= t('supervisor.unit_statuses.index.validation') %></th>
        <th><%= t('supervisor.unit_statuses.index.change_employees') %></th>
        <th><%= t('supervisor.unit_statuses.index.approval') %></th>
        <th>Acciones</th>
      </tr>
      </thead>

      <tbody>
        <% @supervisor_unit_statuses.unit_statuses.each do |unit_status| %>
        <% if change_id?(unit_status[:organization_id]) %>
          <tr class="indicator-row">
            <td colspan="3" class="h2"
                title="<%= "Organization_#{unit_status[:organization_id]}" %>">
              <strong><%= unit_status[:organization_description] %></strong>
            </td>
            <td colspan="3" class="subheader" title="<%=
              "Organization_#{unit_status[:organization_id]}" %>">
              <% if @supervisor_unit_statuses.noks(unit_status[:organization_id]) > 0 %>
                <span class="text-center nok">
                  <%= t('supervisor.unit_statuses.index.no_ok',
                        number: @supervisor_unit_statuses.noks(unit_status[:organization_id])) %>
                </span>
              <% else %>
                <span class="ok"><%= t('supervisor.unit_statuses.index.ok') %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td> </td>
          <td class="indicator-metric" title="<%= "Unit_#{unit_status[:unit_id]}" %>">
            <%= unit_status[:unit_description] %>
          </td>
          <td></td>
          <td title="<%= "#{login_to_full_name(unit_status[:employees_change_by])}
          Id_#{unit_status[:employees_change_id]}" %>">
            <%= format_date(unit_status[:employees_change_at]) %>
            <%= unit_status[:employees_change_by] %>
          </td>
          <td title="<%= "#{login_to_full_name(unit_status[:approval_by])}
          Id_#{unit_status[:approval_id]}" %>">
            <%= format_date(unit_status[:approval_at]) %>
            <%= unit_status[:approval_by] %>
          </td>
          <td>
            <%= link_to("", supervisor_unit_status_path(id: @supervisor_unit_statuses
                .period.id, unit_id: unit_status[:unit_id]),
                        title: t('supervisor.unit_statuses.index.action.show'), class: "icon-search") %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  </div>

</div>

