<div class="row">
  <div class="short-12 columns">
    <h1 class="h2 text-center"><%= t('supervisor.unit_statuses.index.title') %></h1>
    <h2 class="h3 text-center"><%= @period.description %> </h2>
  </div>
</div>
<div class="row">
  <div class="short-12 columns">
    <table class="unit-status">
      <thead>
        <tr>
          <th colspan="2"><%= t('supervisor.unit_statuses.index.unit') %> </th>
          <th><%= t('supervisor.unit_statuses.index.validation') %></th>
          <th><%= t('supervisor.unit_statuses.index.change_employees') %></th>
          <th><%= t('supervisor.unit_statuses.index.approval') %></th>
          <th><%= t('supervisor.unit_statuses.index.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <% @period.organization_type.organizations.each do |organization| %>
          <tr class="indicator-row">
            <td colspan="6" class="h2"
                title="<%= "Organization_#{organization.id}" %>">
              <strong><%= organization.description %></strong>
            </td>
          </tr>
          <% organization.units.each do |unit| %>
            <tr>
              <td class="check <%= unit.approval(@period)[:end] %>"></td>
              <td class="unit"
                  title="<%= "Unit_#{unit.id}" %>">
                <%= unit.description_sap %>
              </td>
              <td class = " <%= unit.validation(@period)[:success] %>"
                  title="<%= login_to_full_name(unit.validation(@period)[:updated_by]).to_s +
                             format_date(unit.validation(@period)[:created_at], :short) +
                             ' Id_' + unit.validation(@period)[:id].to_s %>">
                <%= unit.validation(@period)[:end] %>
              </td>
              <td title="<%= login_to_full_name(unit.employees_change(@period)[:justified_by]).to_s +
                             ' Id_' + unit.employees_change(@period)[:id].to_s %>">
                <%= format_date(unit.employees_change(@period)[:justified_at]) %>
                <%= unit.employees_change(@period)[:justified_by] %>
              </td>
              <td title="<%= login_to_full_name(unit.approval(@period)[:approval_by]).to_s +
                             ' Id_' + unit.approval(@period)[:id].to_s %>">
                <%= format_date(unit.approval(@period)[:approval_at]) %>
                <%= unit.approval(@period)[:approval_by] %>
              </td>
              <td>
                <%= link_to("", supervisor_unit_status_path(id: @period.id, unit_id: unit.id),
                            title: t('supervisor.unit_statuses.index.action.show'), class: "icon-search") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>

