<div class="row">
  <div class="small-12 columns">
    <h3 title="<%= "#{@supervisor_unit_status[:organization_id]}" %>" class="text-center">
      <%= "#{@supervisor_unit_status[:organization_description]}"%>
    </h3>
    <h4 title="<%= "#{@supervisor_unit_statuses.period.id}" %>" class="text-center">
      <%= "#{@supervisor_unit_statuses.period.description}"%>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 columns ">
    <br>
    <table class="unit-status-show">
      <caption title="<%= "#{@supervisor_unit_status[:unit_id]}" %>">
        <h5 class="text-left" > <%= "#{@supervisor_unit_status[:unit_description]}"%></h5>
      </caption>
      <tr>
        <th class="hide-to-print"></th>
        <th class="text-left"><%= t('supervisor.unit_statuses.show.validation') %> </th>
        <td class="text-left"> <%= render 'validation' %> </td>
      </tr>
      <tr>
        <th class="hide-to-print"></th>
        <th class="text-left"><%= t('supervisor.unit_statuses.show.change') %> </th>
        <td>
          <%= render 'employees_change',
                     change: @supervisor_unit_status[:employees_change_id],
                     period: @supervisor_unit_statuses.period,
                     organization_description:
                         @supervisor_unit_status[:organization_description],
                     unit_id: @supervisor_unit_status[:unit_id] %>
        </td>
      </tr>
      <tr>
        <th class="hide-to-print"></th>
        <th class="text-left"><%= t('supervisor.unit_statuses.show.ok') %> </th>
        <td  class="text-left"> <%= render 'approval' %> </td>
      </tr>
    </table>
  </div>
</div>
