
<nav class="admin-sidebar">
  <%= link_to t('supervisor.dashboard.index.title'), supervisor_root_path %>
  <ul id="admin_menu" class="vertical menu" data-accordion-menu>
    <li id="option-periods" <%= 'class=active' if controller_name == 'periods' %>>
      <%= link_to supervisor_periods_path do %>
          <span class="icon-debates"></span>
          <%= t('supervisor.menu.periods') %>
      <% end %>
    </li>
    <li id="reports">
      <a href="#">
        <span class="icon-document"> </span>
        <%= t('subnavigation_menu.reports') %>
      </a>
      <ul class="menu vertical nested">
        <li id="option-report-process" <%= 'class=active' if controller_name == 'reports' && params[:type] == 'process'  %>>
          <%= link_to select_period_supervisor_reports_path(type: :main_process) do %>
              <%= t('subnavigation_menu.report') %>
          <% end %>
        </li>
        <li id="option-report-subprocess" <%= 'class=active' if controller_name == 'reports' && params[:type] == 'sub_process'  %> >
          <%= link_to select_period_supervisor_reports_path(type: :sub_process) do %>
              <%= t('subnavigation_menu.subprocess_summary') %>
          <% end %>
        </li>
        <li id="option-report-process" <%= 'class=active' if controller_name == 'reports' && params[:type] == 'process'  %>>
          <%= link_to supervisor_process_summary_index_path(type: 'MainProcess') do %>
              <%= t('subnavigation_menu.process_summary') %>
          <% end %>
        </li>
        <li id="option-report-subprocess" <%= 'class=active' if controller_name == 'reports' && params[:type] == 'sub_process'  %> >
          <%= link_to supervisor_process_summary_index_path(type: 'SubProcess') do %>
              <%= t('subnavigation_menu.subprocess_summary') %>
          <% end %>
        </li>

      </ul>
    </li>

  </ul>
</nav>

