<div class="small-12 columns">
  <p> <%= t('admin.unit_rpt_assignations.index.initialize_links.title_html') + @rpt_year.to_s %> </p>
  <ul class="note">
    <li>
      <%= t('admin.unit_rpt_assignations.index.initialize_links.text') %>
      <%= link_to t('admin.unit_rpt_assignations.index.initialize_links.initialize'), init_admin_unit_rpt_assignations_path(year: @process_year, init: true), class: "button hollow small" %>
    </li>
    <li>
      Desde fichero (<span> <%= link_to "AssignUnits.xlsx", "/imports/AssignUnits.xlsx" %> </span>)
      <%= form_tag import_admin_unit_rpt_assignations_path(year: @process_year), multipart: true do %>
        <div class="small-12 columns">
          <%= file_field_tag(:file) %> <br>
          <%= submit_tag "Importar", class: "hollow button small" %>
        </div>
      <% end %>
    </li>
    <% if @assignation_year !=  @rpt_year %>
      <li>
        <%= t('admin.unit_rpt_assignations.index.initialize_links.copy.title', assignation_year: @assignation_year, process_year: @rpt_year ) %>
        <%= link_to t('admin.unit_rpt_assignations.index.initialize_links.copy.link'), copy_admin_unit_rpt_assignations_path(year: @rpt_year, copy: true), class: "button hollow small" %>
      </li>
    <% end %>
  </ul>
</div>
