<table class="unit-rpt-assignation">
  <!-- Organizations -->
  <% @organizations_assignated.each do |record|%>
    <tr>
      <td title="<%= record.organization.sap_id %>" class="accordion-title">
        <%= record.organization.description %>
      </td>
      <%= render partial: 'display_organization_rpt',
                 locals: {year: @process_year, organization: record.organization} %>
    </tr>
    <tr class="text-left">
      <th class="big-width"> Unidades/unidades sap con rpt asignada </th>
      <th> Ocupados </th>
      <th> Vacantes </th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <td colspan="5"></td>
    </tr>
    <!-- Units    -->
    <!-- Assigned -->
    <% record.organization.units.each do |unit| %>
      <tr>
        <td title="<%= unit.sap_id %>"> <strong><%= unit.description_sap %></strong></td>
        <td> <strong><%= Rpt.by_year(@process_year).by_unit_sap(assigned_units(@assignation_year,unit )).occupied.count %> </strong></td>
        <td> <strong><%= Rpt.by_year(@process_year).by_unit_sap(unit).vacant.count %> </strong></td>
      </tr>
      <tr>
      <%  UnitRptAssignation.by_year(@rpt_year).by_unit(unit).each do |assign_record| %>
        <tr>
          <td class="unit-assigned" title="<%= assign_record.sapid_unit %>">  <%= assign_record.den_unit %></td>
          <td>  <%= Rpt.by_year(@process_year).by_unit_sap(assign_record.sapid_unit).occupied.count %> </td>
          <td>  <%= Rpt.by_year(@process_year).by_unit_sap(assign_record.sapid_unit).vacant.count %> </td>
        </tr>
      <% end %>
    <% end %>
    <!-- No assigned -->
    <tr>
      <td> <h6>SIN ASIGNAR </h6></td>
    </tr>
    <tr>
      <% UnitRptAssignation.by_year_and_organization_without_unit((@assignation_year), record.organization).order(:den_unit).each do |assign_rec| %>
        <tr>
          <td title="<%= assign_rec.sapid_unit %>">
            <%= assign_rec.den_unit %> (<%= assign_rec.sapid_unit %>)
          </td>
          <td> <%= Rpt.by_year(@process_year).by_unit_sap(assign_rec.sapid_unit).occupied.count %> </td>
          <td> <%= Rpt.by_year(@process_year).by_unit_sap(assign_rec.sapid_unit).vacant.count %> </td>
          <td>
            <%= select_tag("assign[#{assign_rec.sapid_unit}]", options_for_select(record.organization.select_units), prompt: 'Asigna unidad') %>
          </td>
        </tr>
      <% end %>
    </tr>
  <% end %>
</table>