<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Asignación de RPT a unidades</h1>
    <div class="row" >
      <p class="note">
        Asignación de unidades a los departamentos para el calculo de RPT asignada a cada unidad.
        <ul class="note">
          <li>Último periodo creado        : <%= @process_year %>     </li>
          <li>Última RPT cargada           : <%= @rpt_year %>         </li>
          <li>Última asignación de unidades: <%= @assignation_year %> </li>
        </ul>
      </p>
    </div>
    <div class="row" >
      <p  class="note">
        Exportar listado:
        <%= link_to "Excel", supervisor_units_path(format: "xls") %> |
        <%= link_to "CSV",   supervisor_units_path(format: "csv") %>
      </p>
      <p  class="note">
        Exportar <strong>RPT</strong>:
        <%= link_to "Excel", admin_rpts_path(format: "xls") %> |
        <%= link_to "CSV", admin_rpts_path(format: "csv") %>
      </p>
    </div>

    <h5> Año al que corresponden los datos: <%= @process_year %></h5>

    <%  if @organizations_assignated.present? %>
      <div class="small-12 columns">
        <p  class="note">
         <% if @assignation_year !=  @process_year %>
            Se muestran los datos de <%= @assignation_year %>  y se copiaran en <%= @process_year %>.
            Las modificaciones de asignacion se realizan desde el menú del supervisor <br>
            <%= link_to "Copiar asignaciones", init_or_copy_admin_unit_rpt_assignations_path(year: @process_year, copy: true), class: "button hollow" %>
          <% end %>
          Si se desea inicializar la asignación para el presente año:
          <%= link_to "Inicializar", init_or_copy_admin_unit_rpt_assignations_path(year: @process_year, init: true), class: "button hollow" %>

        </p>
        <%= form_tag(update_assignations_admin_unit_rpt_assignations_path(year: @process_year )) do %>
          <%= hidden_field_tag :year, @process_year %>
          <div class="medium-2 columns end">
            <%= submit_tag "Actualizar asignaciones", class: "hollow button"  %>
          </div>
          <%= render "organization" %>
        <% end %>
      </div>
    <% else %>
      <p  class="note">
        No hay datos cargados
        <%= link_to "Inicializar", init_or_copy_admin_unit_rpt_assignations_path(year: @process_year, init: true), class: "button hollow" %>
      </p>
    <% end %>
  </div>
</div>