<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Asignacion de RPT a unidades">
    <ss:Styles>
      <ss:Style ss:ID="Default" ss:Name="Normal">
        <ss:Alignment ss:Vertical="Bottom"/>
        <ss:Borders/>
        <ss:Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
        <ss:Interior/>
        <ss:NumberFormat/>
        <ss:Protection/>
      </ss:Style>
      <ss:Style ss:ID="sHeader">
        <ss:Alignment ss:Vertical="Bottom"/>
        <ss:Borders/>
        <ss:Font ss:FontName="Arial" ss:Bold="1"/>
        <ss:Interior ss:Color="#9BC2E6" ss:Pattern="Solid"/>
        <ss:NumberFormat/>
        <ss:Protection/>
      </ss:Style>
      <ss:Style ss:ID="sTotal">
        <ss:Alignment ss:Vertical="Bottom"/>
        <ss:Borders/>
        <ss:Font ss:FontName="Arial" ss:Bold="1"/>
        <ss:Interior ss:Color="#9BC2E6" ss:Pattern="Solid"/>
        <ss:NumberFormat/>
        <ss:Protection/>
      </ss:Style>
    </ss:Styles>
    <Table>
      <Row ss:StyleID="s67">
        <Cell><Data ss:Type="String">year</Data></Cell>
        <Cell><Data ss:Type="String">den_organizacion</Data></Cell>
        <Cell><Data ss:Type="String">sapid_unidad</Data></Cell>
        <Cell><Data ss:Type="String">den_unidad</Data></Cell>
        <Cell><Data ss:Type="String">fecha_baja</Data></Cell>
        <Cell><Data ss:Type="String">den_puesto</Data></Cell>
        <Cell><Data ss:Type="String">grupo_personal_txt</Data></Cell>
        <Cell><Data ss:Type="String">area_personal_txt</Data></Cell>
        <Cell><Data ss:Type="String">grtit_per</Data></Cell>
        <Cell><Data ss:Type="String">grtit_pto</Data></Cell>
        <Cell><Data ss:Type="String">situacion</Data></Cell>
        <Cell><Data ss:Type="String">modalidad</Data></Cell>
        <Cell><Data ss:Type="String">nombre</Data></Cell>
        <Cell><Data ss:Type="String">apellido1</Data></Cell>
        <Cell><Data ss:Type="String">apellido2</Data></Cell>
        <Cell><Data ss:Type="String">sociedad</Data></Cell>
        <Cell><Data ss:Type="String">división</Data></Cell>
        <Cell><Data ss:Type="String">status_pto_txt</Data></Cell>
        <Cell><Data ss:Type="String">editable_Z01</Data></Cell>
        <Cell><Data ss:Type="String">ocupada</Data></Cell>
      </Row>
    <% @rpts.each do |position| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= position.year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.den_organizacion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.sapid_unidad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.den_unidad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.fecha_baja %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.den_puesto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.grupo_personal %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.area_personal %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.grtit_per %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.grtit_pto %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.situacion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.modalidad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.apellido1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.apellido2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.sociedad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.division %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.status_pto_txt %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.editable_Z01 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.ocupada %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
