<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center"><%= t('admin.unit_rpt_assignations.index.title')%></h1>
    <br>
  </div>
</div>

<div class="row" >
  <%= render "load_status" %>
</div>
<hr>
<div class="row" >
  <div class="small-12 columns">
    <div class="small-6 columns">
      <%= render "initializate_links" %>
    </div>

    <div class="small-6 columns">
      <% if @organizations_assignated.present? %>
        <%= render "export_links" %>
      <% end %>
    </div>
  </div>
</div>
<hr>

<div class="row" >
  <div class="small-12 columns">
    <% if @organizations_assignated.blank? %>
      <p> <strong><%= t('admin.unit_rpt_assignations.index.no_data')%></strong></p>
    <% else %>
      <table class="unit-status">
        <tr class="text-left">
          <th> <%= t('admin.unit_rpt_assignations.index.detail') %></th>
          <th> <%= t('admin.unit_rpt_assignations.index.organization') %></th>
          <th> <%= t('admin.unit_rpt_assignations.index.occupied') %> </th>
          <th> <%= t('admin.unit_rpt_assignations.index.vacancy') %> </th>
          <th colspan="2"></th>
        </tr>
        <% @organizations_assignated.each do |record| %>
          <% if record.organization.blank? then next end %>
          <tr>
            <td><%= link_to "", show_organization_admin_unit_rpt_assignations_path(organization: record.organization), class: "icon-search"%></td>
            <td title="<%= record.organization.id %>">
              <%= record.organization.description %>
            </td>
            <%= render partial: 'display_organization_rpt',
                       locals: {year: @process_year, organization: record.organization} %>
          </tr>
        <% end %>
      </table>
  <% end%>
  </div>
</div>
