<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Asignación de RPT a unidades</h1>
    <div class="row" >
      <p class="note">
        Asignación de unidades a los departamentos para el calculo de RPT asignada a cada unidad.
        <ul class="note">
          <li>Último periodo creado        : <%= @process_year %>     </li>
          <li>Última RPT cargada           : <%= @rpt_year %>         </li>
          <li>Última asignación de unidades: <%= @assignation_year %> </li>
        </ul>
      </p>
    </div>
    <div class="row" >
      <p  class="note">
        Exportar la asignación de unidades y la RPT :
        <%= link_to "Excel", admin_rpts_path(format: "xls") %> |
        <%= link_to "CSV",   admin_rpts_path(format: "csv") %>
      </p>
    </div>
    <h5> Año al que corresponden los datos: <%= @process_year %></h5>
    <%  if @organizations_assignated.present? %>
      <div class="row">
        <div class="small-12 columns">
          <p  class="note">
           <% if @assignation_year !=  @process_year %>
              Se muestran los datos de <%= @assignation_year %>  y se copiaran en <%= @process_year %>.
              Las modificaciones de asignacion se realizan desde el menú del supervisor <br>
              <%= link_to "Copiar asignaciones", init_or_copy_admin_unit_rpt_assignations_path(year: @process_year, copy: true), class: "button hollow" %>
            <% end %>

          </p>
          <%= form_tag(update_assignations_admin_unit_rpt_assignations_path) do %>
            <div class="medium-2 columns end">
              <%= submit_tag "Actualizar asignaciones", class: "hollow button" %>
            </div>

            <table class="unit-status">
              <tr class="text-left"s>
                <th class="big-width"> Unidades/unidades sap con rpt asignada </th>
                <th> Ocupados </th>
                <th> Vacantes </th>
                <th> Asignación</th>
              </tr>
              <!-- Organizations -->
              <% @organizations_assignated.each do |record|%>
                <tr>
                  <td title="<%= record.organization.sap_id %>" > <h6><%= record.organization.description %></h6></td>
                  <%= render partial: 'display_organization_rpt',
                             locals: {year: @process_year, organization: record.organization} %>
                </tr>
                <!-- Units -->
                <% record.organization.units.each do |unit| %>
                  <tr>
                    <td title="<%= unit.sap_id %>"> <strong><%= unit.description_sap %> </strong></td>
                    <td> <strong><%= Rpt.by_year(@process_year).by_unit_sap(assigned_units(@assignation_year,unit )).occupied.count %> </strong></td>
                    <td> <strong><%= Rpt.by_year(@process_year).by_unit_sap(unit).vacant.count %> </strong></td>
                  </tr>
                  <tr>
                  <%  UnitRptAssignation.by_year(@rpt_year).by_unit(unit).each do |assign_record| %>
                    <tr>
                      <td title="<%= assign_record.sapid_unit %>">  <%= assign_record.den_unit %></td>
                      <td>  <%= Rpt.by_year(@process_year).by_unit_sap(assign_record.sapid_unit).occupied.count %> </td>
                      <td>  <%= Rpt.by_year(@process_year).by_unit_sap(assign_record.sapid_unit).vacant.count %> </td>
                    </tr>
                  <% end %>
                <% end %>
                <!-- No assigned -->
                <tr>
                  <td> <h6>SIN ASIGNAR </h6></td>
                </tr>
                <tr>
                  <% UnitRptAssignation.by_year_and_organization_without_unit((@assignation_year), record.organization).each do |assign_rec| %>
                    <tr>
                      <td title="<%= assign_rec.sapid_unit %>">
                        <%= assign_rec.den_unit %>
                      </td>
                      <td> <%= Rpt.by_year(@process_year).by_unit_sap(assign_rec.sapid_unit).occupied.count %> </td>
                      <td> <%= Rpt.by_year(@process_year).by_unit_sap(assign_rec.sapid_unit).vacant.count %> </td>
                      <td>
                        <%= select_tag("assign[#{assign_rec.sapid_unit}]", options_for_select(record.organization.select_units), prompt: 'Asigna unidad') %>
                      </td>
                    </tr>
                  <% end %>
                </tr>
              <% end %>
             </table>
          <% end %>
        <% else %>
          <p  class="note">
            No hay datos cargados
            <%= link_to "Inicializar", init_or_copy_admin_unit_rpt_assignations_path(year: @process_year, init: true), class: "button hollow" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>