<%= render 'shared/errors', resource: @indicator %>
<h5><%= @period.description %></h5>
<h5><%= @main_process.order %>. <%= @main_process.item.description %></h5>
<h5><%= @sub_process.order %>. <%= @sub_process.item.description %></h5>
<h4><%= @indicator.order %>. <%= @indicator.item.description %></h5>

<%= form_tag do %>
  <br>

  <div class="small-8 columns" >
   <label for="item_description"><%= t("manager.indicators.form.description")%></label>
    <input list="item_description" type="text" name="item_desc" value="<%=@indicator.item.description %>"  onclick="this.value=''">
    <datalist id="item_description"%>" >
      <% @items.each do |item| %>
        <% if @indictor.item_id == item[1] %>
         <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
         <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-8 columns" >
    <label for="metric_description"><%= t("manager.indicator.form.metric")%></label>
    <input list="metric_description" type="text" name="metric_desc" value="<%=@indicator.indicator_metrics.take.metric.item.description %>"  onclick="this.value=''">
    <datalist id="metric_description"%>" >
      <% @metrics.each do |metric| %>
        <% if @indicator.indicator_metrics.take.metric.id == metric[1] %>
         <option id="<%= metric[1] %>" value="<%= metric.item.description %>" selected="true">
        <% else %>
         <option id="<%= metric[1] %>" value="<%= metric.item.description %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-12 column" ></div>
  <div class="small-1 column">
      <%= label_tag :order, t("manager.indicators.form.order") %>
      <%= text_field_tag(:order, @indicator.order) %>
  </div>

  <div class="actions small-12 column">
      <%= submit_tag t("actions.#{action_name}"), class: "button tiny hollow"%>
  </div>
<% end %>
