<%= render 'shared/errors', resource: @indicator %>

<%= form_for [:manager, @indicator] do |f| %>
  <br>
  <div class="small-8 columns" >
    <%= f.hidden_field :task_id, value: params[:task_id]%>
    <%= f.hidden_field :modifiable, value: params[:modifiable]%>
    <%= f.hidden_field :eliminable, value: params[:eliminable]%>

   <label for="item_description"><%= t("manager.indicators.form.description")%></label>
    <input list="item_description" type="text" name="item_desc" value="<%= @indicator.item.description if !@indicator.id.nil? %>" onclick="this.value=''">
    <datalist id="item_description"%>" >
      <% @items.each do |item| %>
        <% if !@indicator.id.nil? && @indicator.item_id == item[1] %>
         <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
         <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>
  <div class="small-8 columns" >
    <label for="metric_description"><%= t("manager.indicators.form.metric")%></label>
    <input list="metric_description" type="text" name="metric_desc" value="<%=@indicator.indicator_metrics.take.metric.item.description if !@indicator.id.nil? %>"  onclick="this.value=''">
    <datalist id="metric_description"%>" >
      <% @metrics.each do |metric| %>
        <% if !@indicator.id.nil? && @indicator.indicator_metrics.take.metric.id == metric[1] %>
         <option id="<%= metric[1] %>" value="<%= metric[0] %>" selected="true">
        <% else %>
         <option id="<%= metric[1] %>" value="<%= metric[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>
  <div class="small-8 columns" >
    <label for="source_description"><%= t("manager.indicators.form.source")%></label>
    <input list="source_description" type="text" name="source_desc"
           value="<%= @indicator.indicator_sources.take.source.item.description if !@indicator.id.nil? %>"
           onclick="this.value=''">
    <datalist id="source_description"%>" >
      <% @sources.each do |source| %>
        <% if !@indicator.id.nil? && @indicator.indicator_sources.take.source.id == source[1] %>
         <option id="<%= source[1] %>" value="<%= source[0] %>" selected="true">
        <% else %>
         <option id="<%= source[1] %>" value="<%= source[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-12 columns">
    <label> Marcar el/los tipo/s en los que se tiene en cuenta: </label>
  </div>
  <div class="small-7 columns panel">
    <% @item_summary_types.all.each do |item_summary| %>
      <div div class="small-4 columns end">
        <%= check_box_tag item_summary.description, item_summary.id,
         summary_type_checked?(@indicator, item_summary.id) if !@indicator.id.nil?%>
        <label for="summary_#{item_summary.id}""> <%= item_summary.description %></label>
      </div>
    <% end %>
  </div>
  <div  class="small-12 columns"> <br> </div>

  <div class="small-4 columns">
    <%= f.label :order, t("manager.indicators.form.order") %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: "button hollow"%>
  </div>
<% end %>
