<%= render 'shared/errors', resource: @indicator %>

<%= form_for [:manager, @indicator] do |f| %>
  <br>
  <div class="small-8 columns" >
    <%= f.hidden_field(:task_id) %>
    <%= f.hidden_field :item_id %>
    <%= hidden_field_tag :modifiable, params[:modifiable]%>
    <%= hidden_field_tag :eliminable, params[:eliminable]%>
    <%= hidden_field_tag :indicator_metric_id, params[:indicator_metric] %>

    <label for="item_desc"><%= t('.description')%></label>
    <input list="item_desc" type="text" name="item_desc" value="<%=@indicator.item.description if @indicator.item.present? %>" ">
    <datalist id="item_desc"%>" >
      <% @items.each do |item| %>
        <% if !@indicator.id.nil? && @indicator.item_id == item[1] %>
         <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
         <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
    <small class="error  error"><%= show_errors(@indicator, :item_id)%></small>
  </div>

  <div class="small-8 columns" >
    <label for="metric_description"><%= t('manager.indicators.form.metric')%></label>
    <input list="metric_description" type="text" name="metric_desc"
           value="<%= @indicator.indicator_metrics.take.metric.item.description if !@indicator.id.nil? && !@indicator.indicator_metrics.take.nil? %>"  ">
    <datalist id="metric_description"%>" >
      <% @metrics.each do |metric| %>
        <% if !@indicator.id.nil? &&  !@indicator.indicator_metrics.take.nil? && @indicator.indicator_metrics.take.metric.id == metric[1] %>
         <option id="<%= metric[1] %>" value="<%= metric[0] %>" selected="true">
        <% else %>
         <option id="<%= metric[1] %>" value="<%= metric[0] %>">
        <% end %>
      <% end %>
    </datalist>
    <small class="error  error"><%= show_errors(@indicator, :metric_id)%></small>
  </div>

  <div class="small-8 columns" >
    <label for="source_description"><%= t('manager.indicators.form.source')%></label>
    <input list="source_description" type="text" name="source_desc" required
           value="<%= @indicator.indicator_sources.take.source.item.description if !@indicator.id.nil? && !@indicator.indicator_sources.take.nil? %>"
           ">
    <datalist id="source_description"%>" >
      <% @sources.each do |source| %>
        <% if !@indicator.id.nil? && !@indicator.indicator_sources.take.nil? && @indicator.indicator_sources.take.source.id == source[1] %>
         <option id="<%= source[1] %>" value="<%= source[0] %>" selected="true">
        <% else %>
         <option id="<%= source[1] %>" value="<%= source[0] %>">
        <% end %>
      <% end %>
    </datalist>
    <small class="error  error"><%= show_errors(@indicator, :source_id)%></small>
  </div>

  <% if !(params[:action] == 'create' || params[:action] == 'new') %>
    <%= render 'total_indicator_types' %>
  <% else %>
    <div class="small-7 columns panel">
        <% @item_summary_types.each do |item_summary_type| %>
          <div div class="small-12 medium-4 columns end">
            <%= label_tag item_summary_type.description %>
           <%= select_tag item_summary_type.description, options_for_select(@total_indicator_types) %>
          </div>
        <% end %>
      </div>
  <% end %>

  <div  class="small-12 columns"> <br> </div>

  <div class="small-12 medium-4 columns">
    <%= f.label :order, t('manager.indicators.form.order') %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: 'button hollow'%>
  </div>

<% end %>
