
<div>
  <div class="expanded highlight padding">
     <h4><%= Item.find(@main_process.item_id).description%> </h4>
     <h4><%= Item.find(@sub_process.item_id).description %></h4>
     <strong><%= @organization_type.description %> / <%= @period.description %></strong>
  </div>
</div>
  <table>
    <tr><th colspan="2">Totalizadores</th></tr>
    <tr> <td>Proc.</td><td>Subproc</td></tr>
    <% @indicators.each do  |indicator|%>
      <tr id="<%= dom_id(indicator) %>">
        <td><%= total_check(indicator.total_process) %></td>
        <td><%= total_check(indicator.total_sub_process) %></td>
        <td>
           <%= Item.find(indicator.item_id).description %>
        </td>
        <td>
          <%= Item.find(indicator.metric.item_id).description%>
        </td>
        <td>
          <%= link_to edit_manager_indicator_path(indicator),
              class: 'button warning float-right tiny hollow' do %>
                <span class="icon-edit"></span>
                <%= t("actions.edit") %>
          <% end %>
        </td>
        <td>
          <%= link_to manager_in_works_path(indicator),
              class: 'button alert float-right tiny hollow' do %>
                <span class="icon-delete"></span>
                <%= t("actions.delete") %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
