<div class="expanded highlight padding">
  <h3> <%= @organization_type.description %> / <%= @period.description %></h3>
  <h4> <%= @main_process.item.description %></h4>
  <h4> <%= @sub_process.item.description %></h4>
</div>

<table>
  <tr>
    <th><%= t(".indicator") %></th>
    <th><%= t(".metric") %></th>
    <th><%= t(".source") %></th>
    <th class="text-center" colspan="<%=@item_summary_types.count%>"><%= t(".totals") %></th>
    <th colspan="2"></th>
  </tr>
  <tr>
    <th colspan="3"></th>
    <% @item_summary_types.each do |summary_type|%>
      <th><%= summary_type.description %></th>
    <% end %>
    <th colspan="2"></th>
  </tr>

  <% @indicators.each do  |indicator|%>
    <tr rowspan="indicator.indicator_metrics.count" id="<%= dom_id(indicator) %>">
      <td colspan="5">
        <% if indicator.description.nil? %>
          <strong> <%= indicator.order %>. <%= indicator.item.description %></strong>
        <% else %>
          <br>
          <div class="moderation-description">
            <%= simple_format (indicator.description) %>
          </div>
        <% end %>
      </td>
      <% if indicator.indicator_metrics.take.nil? %>
        <td>No cumplimentada</td>
      <% end %>
      <td>
      <% indicator.indicator_metrics.order(:id).each do |im| %>
      <tr>
        <td></td>
        <td id="<%= dom_id(im) %>">
          <%= im.metric.item.description %>
        </td>
        <% if !indicator.indicator_sources.take.nil? %>
          <td id="<%= dom_id(indicator.indicator_sources.first) %>">
            <%= indicator.indicator_sources.first.source.item.description %>
          </td>
        <% else %>
          <td>No cumplimentada</td>
        <% end %>
        <% @item_summary_types.each do |item_summary_type|%>
          <% mark = total_check(im, item_summary_type.id) %>
          <td class="text-center" title="<%= "#{t("manager.indicators.total_indicator_type.#{mark}")}"%>"><%= mark%></td>
        <% end %>
        <td>
          <% if params[:modifiable] == 'true'%>
            <%= link_to edit_manager_indicator_path(indicator, indicator_metric: im,
              task_id: @task.id, eliminable: params[:eliminable],  modifiable: params[:modifiable]),
                id: "edit_#{indicator.id}",
                class: 'button warning float-right tiny hollow' do %>
                  <span class="icon-edit"></span>
                  <%= t("actions.edit") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if params[:modifiable] == 'true' %>
           <% msg = delete_msg(indicator.class.name.pluralize.underscore, params[:eliminable], params[:modifiable], false ) %>
           <%= link_to manager_indicator_path(indicator, task_id: @task.id, eliminable: params[:eliminable],  modifiable: params[:modifiable]), method: :delete,
                data: {confirm: msg},
                id: "delete_#{indicator.id}",
                class: 'button alert float-right tiny hollow' do %>
                  <span class="icon-delete"></span>
                  <%= t("actions.delete") %>
             <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tr>
  <% end %>
</table>
