<div class="expanded highlight padding">
  <h3> <%= @organization_type.description %> / <%= @period.description %></h3>
  <h4> <%= @main_process.item.description %></h4>
  <h4> <%= @sub_process.item.description %></h4>
</div>

<table>
  <tr>
    <th colrow="2">Indicador</th>
    <th colrow="2">Métrica</th>
    <th colrow="2">Fuente</th>
    <th colspan="<%=@item_summary_types.count%>">Totalizadores</th>
  </tr>
  <tr>
    <td colspan="3"></td>
    <% @item_summary_types.each do |summary_type|%>
      <td><%= summary_type.description %></td>
    <% end %>
  </tr>

  <% @indicators.each do  |indicator|%>
    <tr id="<%= dom_id(indicator) %>">
      <td>
        <% if indicator.description.nil? %>
          <%= indicator.order %>. <%= indicator.item.description %>
        <% else %>
          <br>
          <div class="moderation-description">
            <%= indicator.description %>
          </div>
        <% end %>
      </td>
      <% if !indicator.indicator_metrics.take.nil? %>
        <td id="<%= dom_id(indicator.indicator_metrics.first) %>">
          <%= indicator.indicator_metrics.take.metric.item.description %>
        </td>
      <% else %>
        <td>No cumplimentada</td>
      <% end %>
      <% if !indicator.indicator_sources.take.nil? %>
        <td id="<%= dom_id(indicator.indicator_sources.first) %>">
          <%= indicator.indicator_sources.first.source.item.description %>
        </td>
      <% else %>
        <td>No cumplimentada</td>
      <% end %>
      <% @item_summary_types.each do |item_summary_type|%>
        <td class="text-center"><%= total_check(indicator.indicator_metrics.take, item_summary_type.id)%></td>
      <% end %>
      <td>
        <% if params[:modifiable] == 'true' %>
          <%= link_to edit_manager_indicator_path(indicator, task_id: @task.id),
              id: "edit_#{indicator.id}",
              class: 'button warning float-right tiny hollow' do %>
                <span class="icon-edit"></span>
                <%= t("actions.edit") %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if params[:modifiable] == 'true' %>
         <% msg = delete_msg(indicator.class.name.pluralize.underscore, params[:eliminable], params[:modifiable], false ) %>
         <%= link_to manager_indicator_path(indicator, task_id: @task.id), method: :delete,
              data: {confirm: msg},
              id: "delete_#{indicator.id}",
              class: 'button alert float-right tiny hollow' do %>
                <span class="icon-delete"></span>
                <%= t("actions.delete") %>
           <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
