<div class="small-12 column end">
  <%= render "shared/back" %>
</div>

<div class="small-12 column end">
  <h2><%= t("manager.indicators.edit.title") %></h2>

  <div class="highlight">
    <h6><%= @period.description %></h6>
    <h6><%= @main_process.order %>. <%= @main_process.item.description %></h6>
    <h6><%= @sub_process.order %>. <%= @sub_process.item.description %></h6>
    <h6><%= @indicator.order %>. <%= @indicator.item.description %></h6>
  </div>
  <%= render "form" %>
</div>

