<%= form_for [:admin, @period] do |f| %>

  <%= render 'shared/errors', resource: @period %>

  <div class="row">
    <div class="small-12 column">
      <%= f.label :name, t("admin.periods.period.name") %>
      <%= f.text_field :name, placeholder: t("admin.periods.period.name"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :description, t("admin.periods.period.description") %>
      <%= f.text_field :description, label: false,
                        placeholder: t("admin.periods.period.description") %>
    </div>

    <div class="small-3 column">
      <%= f.label :start_at, t("admin.periods.period.start_at") %>
      <%= f.datetime_field :start_at, label: false,
                        placeholder: t("admin.periods.period.start_at"),
                        id: "start_at" %>
    </div>

    <div class="small-3 column">
      <%= f.label :end_at, t("admin.periods.period.end_at") %>
      <%= f.datetime_field :end_at, label: false,
                        placeholder: t("admin.periods.period.end_at"),
                        id: "end_at" %>
    </div>

    <div class="small-3 column">
      <%= f.label :open_at, t("admin.periods.period.open_at") %>
      <%= f.datetime_field :open_at, label: false,
                        placeholder: t("admin.periods.period.open_at"),
                        id: "open_at" %>
    </div>

    <div class="small-3 column">
      <%= f.label :close_at, t("admin.periods.period.close_at") %>
      <%= f.datetime_field :close_at, label: false,
                        placeholder: t("admin.periods.period.close_at"),
                        id: "close_at" %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("admin.periods.new.form.submit_button")) %>
    </div>
  </div>
<% end %>
