<%= render "admin/shared/index" %>

<h2><%= t("admin.periods.index.title") %></h2>

<p>
  <%= link_to t("admin.periods.index.create"),
              new_admin_period_path,
              class: "button large success " %>
</p>

<table>
  <% if @periods.nil? %>
    <h1><%= t("admin.periods.index.no_data") %></h1>
  <% else %>
    <% @periods.each do |period| %>
      <tr id="<%= dom_id(period) %>" >
        <div class="small-12 medium-12 column">
          <td class="medium-8 small-8 columns">
            <strong> <%= OrganizationType.find(period.organization_type_id).description %> : </strong>
                     <%= period.description %></div>
             <div><%= t("admin.periods.index.data_period") %>
                     de <%= period.started_at  %> a <%= period.ended_at %>
             </div>
          </div>
          <div> <%= t("admin.periods.index.data_collect") %>
                de <strong> <%= period.opened_at %> </strong>
                 a <strong> <%= period.closed_at %> </strong>
          </div>
        </td>
        <td class="medium-3 small-3 columns end">
          <%= link_to admin_main_processes_path(
                commit: t("admin.main_processes.index.submit"),
                period_id: period.id,organization_type_id: period.organization_type_id),
                class: 'button  float-right' do %>
                  <span class="icon-tag"></span>
                  <%= t("admin.periods.index.processes") %>
                <% end %>
        </td>
        <% if period.open %> <!-- scope que sustituye a is_open? -->
          <td>
            <%= link_to edit_admin_period_path(period),
                class: 'edit-banner button float-right' do %>
                  <span class="icon-edit"></span>
                  <%= t("admin.periods.index.edit") %>
                <% end %>
          </td>
          <td>
            <%= link_to admin_period_path(period), method: :delete,
                class: 'delete-banner button alert float-right' do %>
                  <span class="icon-box"></span>
                  <%= t("admin.periods.index.delete") %>
                <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
