<span class="hide-for-print entry-indicators-buttons">
  <% if @period.open_entry? && (can? :updates, @organization) && @approval.blank? %>

    <br>
    <%= submit_tag(t('entry_indicators.form.button.save'), class: 'button hollow', name: 'updates') %>
    <%= submit_tag(t('entry_indicators.form.button.end'), class: 'button hollow', name: 'close_entry')%>
    <% if input_staff_visible?(@unit.id, @period.id) %>
      <%= submit_tag(t("entry_indicators.form.button.cancel_change"), class: 'button hollow', name: "cancel_change") %>
    <% end %>
  <% end %>
  <% if (current_user.has_role? :validator, @organization)  && @approval.blank?  && @period.open_entry? %>
     <%= submit_tag(t('entry_indicators.form.button.approval.init'), class: 'button hollow', name: 'approval') %>
  <% end %>

  <%= submit_tag(t('entry_indicators.form.button.print'), class:"icon-print button hollow", name: 'print', onclick: "window.print()") %>
</span>
