<div class="reveal-overlay validation-error" style="display:inline" >
  <div id="myModal" class="large reveal warning callout" data-open="myModal" aria-labelledby="modalTitle"
       aria-hidden="true"  role="dialog" style="display: block; opacity: 1; top: 194px;">
    <p class="modal-title"><%= t('entry_indicators.form.error.title.global')%> </p>
    <p><%= t("entry_indicators.form.error.p1.global.#{user_type(current_user)}")%></p>
    <ol><% @input_errors.each do |input_error| %>
        <li class="modal-error-title" >
          <p class="modal-error-title"> <%= t("entry_indicators.form.error.title.#{input_error.key}") %></p>
          <p> <%= t("entry_indicators.form.error.p1.#{input_error.key}_html") %></p>
          <ul class="error-detail">
            <% input_error.data_errors.each do |error| %>
              <li class="modal-error" title="<%= input_error.key %>">
                <%= error %>
              </li>
          <% end %>
          <%= render 'show_adjust_button'  if input_error.key.to_sym == :assigned_staff %>
          <%= render 'show_cancel_adjust_button'  if input_error.key.to_sym == :cancel_change %>
          </ul>
        </li>
        <br>
      <% end %>
    </ol>

    <button class="hollow button" onclick="closeModal()" aria-label="Close modal" type="button">
      <span aria-hidden="true"><%= t('entry_indicators.form.button.fix') %></span>
    </button>
  </div>
</div>

<script>
    function cancelChange(){
        $("#cancel_change").attr('value', true);
        $(".reveal-overlay").hide();
        $("#entryIndicatorsForm").submit();
    }

    function openChange(){
        $("#open_change").attr('value', true);
        $(".reveal-overlay").hide();
        $("#entryIndicatorsForm").submit();
    }
    function closeModal() {
        $("#myModal").hide();
        $(".reveal-overlay").hide();
    }
</script>
