<div class="unit text-center small-12 columns">
  <h3>
    <%= @unit.description_sap %>
  </h3>
</div>
<div class="small-12 columns">
  <%= render 'staff', of: "Unit", process: @unit, unit: @unit %>
</div>

<% @main_processes.each do |main_process| %>
  <% if sub_processes_unit(main_process, @unit).count > 0 %>
    <div class="main_process small-12 columns">
      <h5><%= description(0, main_process.item_id) %></h5>
    </div>

    <% sub_processes_unit(main_process, @unit).each do |sub_process| %>
      <div class="sub_process small-12 columns">
        <h5>
          <%= description(0, sub_process.item_id) %>
        </h5>
      </div>
      <div small-12 columns">
        <table class="indicator" >
          <thead>
            <tr>
              <div class="small-6 columns"> <th><strong>Indicador </strong></th> </div>
              <div class="small-2 columns"> <th><strong>Fuente </th> </strong></div>
              <div class="small-2 columns"> <th><strong>Métrica </th> </strong></div>
              <div class="small-2 columns"> <th><strong>Cantidad </th> </strong></div>
            </tr>
          <thead>
          <% sub_process.indicators.each do |indicator| %>
            <% indicator.indicator_metrics.all.each do |indicator_metric| %>
              <tr>
                <td id="<%= "indicator_col_#{indicator.id}" %>"> <%= description(0, indicator.item_id) %> </td>
                <td id= "source_col"> <%= sources_description( indicator.id, indicator.sources) %></td>
                <td id="metric_col"><%= get_metric(indicator_metric) %> </td>
                <td id="amount_col%>" class="float-left">
                  <% amount_value = get_amount(indicator_metric, @unit) %>
                  <% if @period.is_open? %>
                     <input class="amount" id="amount" placeholder="<%= amount_value %>"><%= amount_value %> </input>
                  <% else %>
                    <%= amount_value %>
                  <% end %>
                </td>

              </tr>
            <% end %>
          <% end %>
        </table>
        <%= render 'staff', of: "SubProcess", process: sub_process, unit: @unit %>
     </div>
    <% end %>
  <% end %>
<% end %>
