<div class="row " >
  <div class="unit medium-12 short-12 columns">
    <h3> <%= @unit.description_sap %> </h3>
  </div>
  <% @main_processes.each do |main_process| %>
    <% if sub_processes_unit(main_process, @unit).count > 0 %>
      <div class="row" >
          <div class="main_process medium-12 short-12 columns">
            <h5><%= description(0, main_process.item_id) %></h5>
          </div>
      </div>
      <% sub_processes_unit(main_process, @unit).each do |sub_process| %>
        <div class="row">
          <div class="sub_process medium-12 short-12 columns">
            <h5>
              <%= description(0, sub_process.item_id) %>
            </h5>
          </div>
        </div>
        <div class="row indicator">
          <table >
            <tr>
              <th id="indicator_col">Indicador </th>
              <th id="entrada_aalida">Entrada/Salida </th>
              <th id="metric_col">Métrica </th>
              <th id="source_col">Fuente </th>
              <th id="amount_col">Cantidad </th>
              <th id="staff_col" colspan= "5"> </th>
            </tr>
            <% sub_process.indicators.each do |indicator| %>
              <tr>
                <td id= "<%= "indicator_col_#{indicator.id}" %>"> <%= description(0, indicator.item_id) %></td>
                <% if indicator.in_out == "in" %>
                    <td> Entrada </td>
                <% elsif indicator.in_out == "out" %>
                    <td> Salida </td>
                <% end %>
                <td id="<%= "source_col_#{indicator.sources.first.id}" %>"><%= description(0, indicator.sources.first.item_id) %></td>
                <td id="<%= "metric_col_#{indicator.metric.id}" %>"><%= description(0, indicator.metric.item_id) %> </td>
                <% amount_text = description(0, indicator.metric.item_id)%>
                <% amount_value = get_amount(indicator) %>
                <td id="amount_col">
                  <% if @period.is_open? %>
                    <input class="amount" id="amount" placeholder="
                        <%= amount_value %>"><%= amount_value %> </input>
                  <% else %>
                     <%= amount_value %>
                  <% end %>
                </td>
                <td>  <td>
              </tr>
            <% end %>
          </table>
       </div>
        <%= render 'staff', sub_process: sub_process %>
      <% end %>
    <% end %>
  <% end %>
  <%= render 'summary' %>
</div>