<% if @groups_excedeed %>
    <div id="myModal" class="large reveal warning callout" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true"
         role="dialog" style="opacity: 1; visibility: hidden; top: 194px;">
      <h2 id="modalTitle">Exceso de efectivos asignados</h2>
      <p class="lead">Los efectivos asignados a los subprocesos superan los efectivos asignados a esta unidad.</p>
      <p> Si se trata de un <strong>error</strong> cierre la ventana, pulsando el aspa de la parte superior derecha y corriga los datos erróneos.</p>
      <p>Si no es un error y los efectivos que han participado en los procesos de la unidad son mayores a lo indicados
        en el cuadro <strong><em>EFECTIVOS UNIDAD</em></strong>, puede modificarlos, para adecuarlos a los que realmente han
        participado en estos procesos, pulsando en el botón <strong><em><%= t("entry_indicators.form.assigned_employees.update.button") %></em></strong>,
        lo que permitirá modificar los efectivos de la unidad y añadir una justificación a dicho cambios. Estos cambios
        quedarán pendientes de verificación por el resposable.</p>
      <a class="hollow button" data-open="justifiyModal"><%= t("entry_indicators.form.assigned_employees.update.button") %></a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="secondary callout reveal" id="justifiyModal" data-reveal>
      <h2><%= t("entry_indicators.form.assigned_employees.update.justification.title") %></h2>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>

      <form name="justificationForm">
        <textarea name="justification" placeholder="<%= t("entry_indicators.form.assigned_employees.update.justification.label") %>" rows="4" ></textarea>
        <a class="hollow button" onclick="setJustification()" data-close ><%= t("entry_indicators.form.assigned_employees.update.button") %></a>
      </form>
      <script>
          function setJustification(){
              document.entryIndicatorsForm.justification.value=document.justificationForm.justification.value
          }
      </script>
    </div>
<% end %>

<div id="unit" class="unit text-center small-12 columns">
  <h3>
    <%= @unit.description_sap %>
  </h3>
</div>
<%= form_tag(updates_entry_indicators_path, method: 'post') do %>
  <div class="row">
    <% if @period.open_entry? %>
      <%= hidden_field_tag(:unit_id, @unit.id) %>
      <%= hidden_field_tag(:period_id, @period.id) %>
      <%= hidden_field_tag(:organization_id, @organization.id) %>
      <div class="small-12 medium-4 columns">
        <br>
        <%= submit_tag('Actualizar indicadores', class: 'button hollow large') %>
      </div>
    <% else %>
        <div class="small-12 medium-4 columns">  </div>
    <% end %>
    <div class="columns medium-4 small-12">
      <%= render 'staff', of: 'Unit', process: @unit, unit: @unit, period: @period, type: 'all' %>
    </div>
  </div>

  <% @period.main_processes.each do |main_process| %>
    <% if sub_processes_unit(main_process, @unit).count > 0 %>
      <div class="main_process small-12 columns">
        <h5><%= main_process.order%>.&nbsp;<%= main_process.item.description %></h5>
      </div>
      <% sub_processes_unit(main_process, @unit).each do |sub_process| %>
        <table class="indicator" >
          <caption class="sub_process"><%= main_process.order%>.<%= sub_process.order%>.&nbsp;<%= sub_process.item.description %></caption>
          <thead>
            <tr>
              <th><strong><%= t('.indicator') %></strong></th>
              <th><strong><%= t('.source') %></strong></th>
              <th><strong><%= t('.metric') %></strong></th>
              <th class="text-center amount"><strong><%= t('.amount') %></strong></th>
              <%= render 'staff', of: 'Indicator', type: 'header' %>
            </tr>
          </thead>
          <% sub_process.indicators.each do |indicator| %>
            <tr>
              <td colspan ="4" id="<%= "indicator_col_#{indicator.id}" %>"> <strong> <%= description(0, indicator.item_id) %> </strong></td>
              <%= render 'staff', of: 'Indicator', process: indicator, unit: @unit, period: @period, type: 'data' %>
            </tr>
            <tr>
              <% indicator.indicator_metrics.order(:id).each_with_index do |indicator_metric, index| %>
              <%= hidden_field_tag(:indicator_metric_id, indicator_metric.id) %>
              <td colspan = "1"></td>
              <td id="<%= "source_col_#{source_id(indicator)}" %>"> <%= sources_description(indicator.sources) %></td>
              <td id="<%= "metric_col_#{indicator_metric.metric_id}" %>" ><%= get_metric(indicator_metric) %> </td>
              <td id="<%= "indicator_metric_col_#{indicator_metric.id}" %>" class="text-center">
                <% amount_value = get_amount(indicator_metric, @unit) %>
                <% if @period.open_entry? %>
                  <%= text_field_tag("IndicatorMetric[#{indicator_metric.id}]", amount_value, class: 'inline amount', placeholder: t('.amount')) %>
                <% else %>
                  <%= amount_value %>
                <% end %>
              </td>
              <td colspan ="5"></td>
            </tr>
            <% end %>
          <% end %>

        </table>
      <div class="columns medium-offset-8 medium-4 small-12">
          <%= render 'staff', of: 'SubProcess', process: sub_process, unit: @unit, period: @period, type: 'all'   %>
        </div>
      <% end %>

    <% end %>
  <% end %>

  <% if @period.open_entry? %>
    <div class="small-12 medium-4 columns end">
      <br>
      <%= submit_tag('Actualizar indicadores', class: 'button hollow large') %>
    </div>
  <% end %>

<% end %>
