<div id="unit" class="unit text-center small-12 columns">
  <h3>
    <%= @unit.description_sap %>
  </h3>
</div>
<%= form_tag(updates_entry_indicators_path, method: 'post') do %>
  <div class="row">
    <% if @period.open_entry? %>
      <%= hidden_field_tag(:unit_id, @unit.id) %>
      <%= hidden_field_tag(:period_id, @period.id) %>
      <%= hidden_field_tag(:organization_id, @organization.id) %>
      <div class="small-12 medium-4 columns">
        <br>
        <%= submit_tag('Actualizar indicadores', class: 'button hollow large') %>
      </div>
    <% else %>
        <div class="small-12 medium-4 columns">  </div>
    <% end %>
    <div class="columns medium-4 small-12">
      <%= render 'staff', of: 'Unit', process: @unit, unit: @unit, period: @period %>
    </div>
  </div>

  <% @main_processes.each do |main_process| %>
    <% if sub_processes_unit(main_process, @unit).count > 0 %>
      <div class="main_process small-12 columns">
        <h5><%= description(0, main_process.item_id) %></h5>
      </div>
      <% sub_processes_unit(main_process, @unit).each do |sub_process| %>
        <table class="indicator" >
          <caption class="sub_process"><%= description(0, sub_process.item_id) %></caption>
          <thead>
            <tr>
              <th><strong><%= t('.indicator') %></strong></th>
              <th><strong><%= t('.source') %></strong></th>
              <th><strong><%= t('.metric') %></strong></th>
              <th class="text-center"><strong><%= t('.amount') %></strong></th>
            </tr>
          </thead>
          <% sub_process.indicators.each do |indicator| %>
            <tr>
              <td id="<%= "indicator_col_#{indicator.id}" %>"> <strong> <%= description(0, indicator.item_id) %> </strong></td>
            <% indicator.indicator_metrics.order(:id).each_with_index do |indicator_metric, index| %>
            <% if index != 0 %>
             <tr>
             <td></td>
            <% end %>
              <%= hidden_field_tag(:indicator_metric_id, indicator_metric.id) %>
              <td id="<%= "source_col_#{source_id(indicator)}" %>"> <%= sources_description(indicator.sources) %></td>
              <td id="<%= "metric_col_#{indicator_metric.metric_id}" %>" ><%= get_metric(indicator_metric) %> </td>
              <td id="<%= "indicator_metric_col_#{indicator_metric.id}" %>" class="text-center">
                <% amount_value = get_amount(indicator_metric, @unit) %>
                <% if @period.open_entry? %>
                  <%= text_field_tag("IndicatorMetric[#{indicator_metric.id}]", amount_value, class: 'inline', placeholder: t('.amount')) %>
                <% else %>
                  <%= amount_value %>
                <% end %>
              </td>
            <% if index != 0 %>
              </tr>
            <% end %>
            <% end %>
          <% end %>

        </table>
      <div class="columns medium-offset-8 medium-4 small-12">
          <%= render 'staff', of: 'SubProcess', process: sub_process, unit: @unit, period: @period  %>
        </div>
      <% end %>

    <% end %>
  <% end %>

  <% if @period.open_entry? %>
    <div class="small-12 medium-4 columns end">
      <br>
      <%= submit_tag('Actualizar indicadores', class: 'button hollow large') %>
    </div>
  <% end %>

<% end %>
