<tr>
  <th class="staff-th text-center" >
    <%= t('entry_indicators.staff.input.header') %>
  </th>
  <% OfficialGroup.all.each do |gr| %>
      <td class="staff-td">
        <% if justification_verified?(unit.id, period.id) %>
          <%= get_staff('UnitJustified', process, unit, period) %>
        <% else %>
            <%= text_field_tag("Unit[#{process.id}][#{gr.name}]", display_staff('UnitJustified', process, unit, period, gr.id, 4),
                               class: 'input_staff', placeholder: gr.name) %>
        <% end %>
      </td>
  <% end %>
</tr>
<tr>
 <td colspan="6" class="text-center justification">
   <h5> <%= t('entry_indicators.staff.justification.title') %> </h5>
   <% if justification_verified?(unit.id, period.id) %>
       <p><%= justification_text(unit.id, period.id) %></p>
   <% else %>
       <%= text_area_tag(:justification, justification_text(@unit.id, @period.id), class: 'justification') %>
   <% end %>

 </td>
</tr>

