<div class="medium-8 small-12 columns end">
  <table id="staff_<%=of%>", class="margin text-center staff" >
    <caption><strong>Puestos por grupo de titulación</strong></caption>
    <thead>
      <tr>
        <th class="staff-col">Puestos</th>
        <% official_groups.each do |gr| %>
          <th class="text-center input_staff"><%= gr.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center"> <%= (t("entry_indicators.staff.title.#{process_name(@period, of)}")) %></th>
        <% official_groups.each do |gr| %>
          <td>  <strong><%=  format_number(display_staff(of, process, unit, period, gr.id, pos_amount(of))) %></strong>  </td>
        <% end %>
      </tr>
      <% if of == 'Unit' %>
        <tr>
          <th class="text-center"> <%= t('entry_indicators.staff.process_staff') %></th>
          <% official_groups.each do |gr| %>
            <td> <strong><%=  format_number(display_staff(of, process, unit, period, gr.id, pos_amount(of), 'Assigned')) %></strong>  </td>
          <% end %>
        </tr>
        <%= render 'real_staff', process: unit, unit: unit, period: period %>
      <% end %>
    </tbody>
  </table>
</div>
