<div class="staff">
  <% if type == 'all' %>
    <table id='<%= "staff_#{of}" %>', class="margin text-center">
      <thead>
        <tr>
          <th class="text-center" colspan="5"> <%= (t("entry_indicators.staff.title.#{process_name(@period, of)}")) %></th>
        </tr>
        <tr>
          <% OfficialGroup.all.each do |gr| %>
            <th class="text-center"><%= gr.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% OfficialGroup.all.each do |gr| %>
            <td>
              <% if of == "SubProcess" %>
                <%=  get_staff(of, process, gr, unit, period) %>
              <% else %>
                <strong><%=  get_staff(of, process, gr, unit, period) %></strong>
              <% end %>
            </td>
          <% end %>
        </tr>

        <% if of == "Unit" %>
          <% if input_staff_visible?(process.id) %>
            <tr>
               <th class="text-center" colspan="5">
                  <a class="text-left <%= staff_justification_class(process.id, period.id) %>"  href="#"><%= staff_justification_text(process.id, period.id) %></a>
              </th>
            </tr>
            <tr>
                <% OfficialGroup.all.each do |gr| %>
                    <td>
                      <%= text_field_tag("Unit[#{process.id}][#{gr.name}]", get_staff("UnitJustified", process, gr, unit, period),
                                         class: "inline group", placeholder: gr.name) %>
                    </td>
                <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% elsif type == 'header' %>
        <% OfficialGroup.all.each do |gr| %>
            <th class="text-center"><%= gr.name %></th>
        <% end %>
  <% elsif type == 'data' %>
    <% OfficialGroup.all.each do |gr| %>
      <td>
        <% if @period.open_entry? %>
          <%= text_field_tag("Indicator[#{process.id}][#{gr.name}]",
                             get_staff(of, process, gr, unit, period),
                             class: "inline group", placeholder: gr.name) %>
        <% else %>
          <%=  get_staff(of, process, gr, unit, period) %>
        <% end %>
      </td>
    <% end %>
  <% end %>
</div>