<div class="staff">
  <table id='<%= "staff_#{of}" %>', class="margin text-center">
    <thead>
      <tr>
        <th class="text-center" colspan="5"> <%= (t(".#{process.class.name}.title")) %></th>
      </tr>
      <tr>
        <% @official_groups.each do |gr| %>
          <th class="text-center"><%= gr.name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @official_groups.each do |gr| %>
          <td>
            <% group_value = get_staff(of, process, gr, unit, period) %>
            <% if @period.open_entry? && of == "SubProcess"%>
              <%= text_field_tag("SubProcess[#{process.id}][#{gr.name}]", group_value, class: "inline", placeholder: gr.name) %>
            <% else %>
              <% if of == "SubProcess" %>
                <%=  group_value %>
              <% else %>
                <% debugger %>
                <strong><%=  group_value %></strong>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>