<br><br>
<div class="row">
  <div class="medium-12 short-12 columns">
    <div class="summary medium-5 short-5 columns">
         TOTAL PROCESOS   : <%=  @total_main_processes %><br>
         TOTAL SUBPROCESOS: <%=  @total_sub_processes %>
    </div>
    <div class="staff medium-3 short-3 columns">
      <div class="row header">
        <div id="title" class="medium-12 short-12 columns">TOTAL EFECTIVOS
          <div id="title" class="medium-2 short-2 columns"></div>
          <div class="medium-10 short-10 columns">
            <div class="row" id="header">
              <div class="medium-1 small-1 columns"></div>
                <% @official_groups.each do |gr| %>
                  <div class="medium-2 short-2 columns">
                    <%= gr.name %>
                  </div>
                <% end %>
              </div>
            <div class="row">
              <div class="medium-1 small-1 columns"> </div>
                  <div class="medium-2 short-2 columns">
                      <%= @total_staff_sub_process_A1 %>
                  </div>
                  <div class="medium-2 short-2 columns">
                      <%= @total_staff_sub_process_A1 %>
                  </div>
                  <div class="medium-2 short-2 columns">
                      <%= @total_staff_sub_process_C1 %>
                  </div>
                  <div class="medium-2 short-2 columns">
                      <%= @total_staff_sub_process_C2 %>
                  </div>
                  <div class="medium-2 short-2 columns">
                      <%= @total_staff_sub_process_E %>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


