<table class="indicator-metric">
  <thead>
    <tr>
      <th class="indicator-metric"><strong><%= t("entry_indicators.form.indicator.#{process_name(@period, 'indicator_metrics')}") %></strong></th>
      <th  class="indicator-source"><strong><%= t('entry_indicators.form.source') %></strong></th>
      <th class="text-center amount"><strong><%= t('entry_indicators.form.amount') %></strong></th>
    </tr>
  </thead>
  <tbody>
    <% indicator.indicator_metrics.order(:order).each_with_index do |indicator_metric, index| %>
      <%= hidden_field_tag(:indicator_metric_id, indicator_metric.id) %>
      <tr>
        <td class="indicator-metric" id="<%= "metric_col_#{indicator_metric.metric_id}" %>">
          <%= get_metric(indicator_metric) %>
        </td>
        <td class="indicator-metric-source <%= "source-automatic" if source_imported?(indicator_metric) %>"
            id="<%= "source_col_#{get_source_id(indicator_metric)}" %>" >
            <%= sources_description(indicator_metric) %>
        </td>
        <td id="<%= "indicator_metric_col_#{indicator_metric.id}" %>" class="text-center indicator-metric-amount">
          <% if input_allowed?(@period, @organization, @approval, indicator_metric, current_user) %>
            <%= text_field_tag("IndicatorMetric[#{indicator.id}][#{indicator_metric.id}]",
                               get_amount(indicator_metric, @unit), class: 'inline amount',
                               placeholder: t('entry_indicators.table_indicator_metric.amount')) %>
          <% else %>
            <%= get_amount(indicator_metric, @unit) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
