<div class="row " >
  <% if @period.main_processes %>
    <div class="corporativo medium-12 small-12 columns">
      <h3><%= t('entry_indicators.index.title') %> <%= @organization.organization_type.description %></h3>
      <h4><%= @period.description %> </h4>
      <h4> <%= @organization.description %> </h4>
    </div>
    <%= render 'unit_tabs' %>
    <%= render 'form' %>
  <% end %>
</div>