<%= form_for [:supervisor, @indicator_metric] do |f| %>
  <br>
   <%= render 'shared/errors', resource: @indicator_metric %>

  <div id='indicator_sources' class="small-12 columns" >
      <%= hidden_field_tag :indicator_id, params[:indicator_id] %>
      <label><%= t('activerecord.attributes.indicator_metric.metric_id') %></label>
      <%= f.select :metric_id, options_for_select(metric_items, @indicator_metric.metric_id), :prompt => t('supervisor.indicator_metrics.form.metric'),
                label: false, placeholder: t('supervisor.indicator_metrics.form.metric') %>

  </div>
  <div id='indicator_sources' class="small-12 columns" >
    <fieldset>
      <legend> <%= t('activerecord.attributes.indicator_metric.source_id') %></legend>
      <div class="row">
      </div>
      <%= f.fields_for :indicator_sources do |indicator_source| %>
        <%= render "indicator_source_form", f: indicator_source %>
      <% end %>
      <% if @indicator_metric.id.present? %>
        <div class="small-2 columns" >
         <%= link_to t('supervisor.indicator_metrics.form.source.add'), add_empty_source_supervisor_indicator_metric_path(@indicator_metric), method: 'put', class: 'button hollow' %>
        </div>
      <% else %>
          <p><%= t('supervisor.indicator_metrics.form.source.note') %></p>
      <% end %>
    </fieldset>
  </div>
  <br>
  <div  class="small-12 columns"> <br> </div>
  <div class="small-12 medium-4 columns end">
    <%= f.label :in_out_type, t('activerecord.attributes.indicator_metric.in_out_type') %>
    <%= f.select :in_out_type, options_for_select([['Entrada', 'E'], ['Salida', 'S'], ['Stock', 'X']], @indicator_metric.in_out_type),
                 prompt: t('supervisor.indicator_metrics.form.type'), label: false, placeholder: t('supervisor.indicator_metrics.form.type') %>
  </div>

  <div  class="small-12 columns"> <br> </div>
  <div class="small-12 medium-4 columns">
    <%= f.label :order, t('activerecord.attributes.indicator_metric.order') %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: 'button hollow'%>
  </div>

<% end %>
