<%= form_for [:supervisor, @indicator_metric] do |f| %>
  <br>
   <%= render 'shared/errors', resource: @indicator_metric %>
  <div class="small-8 columns" >
    <%= hidden_field_tag :indicator_id, params[:indicator_id] %>

    <%= f.label :metric_id, t('supervisor.indicator_metrics.form.metric') %>
    <%= f.select :metric_id, options_for_select(metric_items, @indicator_metric.metric_id), :prompt => t('supervisor.indicator_metrics.form.metric'),
                   label: false, placeholder: t('supervisor.indicator_metrics.form.metric') %>
  </div>

  <div class="small-8 columns" >
    <%= label_tag :source_id, t('supervisor.indicator_metrics.form.source') %>
    <%= select_tag :source_id, options_for_select(source_items, source_selected), :prompt => t('supervisor.indicator_metrics.form.source'),
                   label: false, placeholder: t('supervisor.indicator_metrics.form.source') %>
    <small class="error  error"><%= show_errors(@indicator_metric, :source_id)%></small>
  </div>

  <% if !(params[:action] == 'create' || params[:action] == 'new') %>
    <%= render 'total_indicator_types' %>
  <% else %>
    <div class="small-7 columns panel">
        <% SummaryType.all.each do |summary_type| %>
          <div class="small-12 medium-4 columns end">
            <%= label_tag summary_type.item.description %>
            <%= select_tag summary_type.item.description,
                           options_for_select(total_indicator_type_items), :prompt =>  summary_type.item.description %>
          </div>
        <% end %>
      </div>
  <% end %>

  <div  class="small-12 columns"> <br> </div>

  <div class="small-12 medium-4 columns">
    <%= f.label :order, t('supervisor.indicators.form.order') %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: 'button hollow'%>
  </div>

<% end %>
