<%= form_for [:supervisor, @indicator_metric] do |f| %>
  <br>
   <%= render 'shared/errors', resource: @indicator_metric %>
  <div id='indicator_sources' class="small-12 columns" >
      <%= hidden_field_tag :indicator_id, params[:indicator_id] %>
      <label><%= t('supervisor.indicator_metrics.form.metric') %></label>
      <%= f.select :metric_id, options_for_select(metric_items, @indicator_metric.metric_id), :prompt => t('supervisor.indicator_metrics.form.metric'),
                label: false, placeholder: t('supervisor.indicator_metrics.form.metric') %>

  </div>
  <div id='indicator_sources' class="small-12 columns" >
    <fieldset>
      <legend> <%= t('supervisor.indicator_metrics.form.source.column') %></legend>
      <div class="row">
      </div>
      <%= f.fields_for :indicator_sources do |indicator_source| %>
        <%= render "indicator_source_form", f: indicator_source %>
      <% end %>
      <% if @indicator_metric.id.present? %>
        <div class="small-2 columns" >
         <%= link_to t('supervisor.indicator_metrics.form.source.add'), add_empty_source_supervisor_indicator_metric_path(@indicator_metric), method: 'put', class: 'button hollow' %>
        </div>
      <% else %>
          <p><%= t('supervisor.indicator_metrics.form.source.note') %></p>
      <% end %>
    </fieldset>
  </div>
  <br>
  <div class="small-12 columns">
    <label> <%= t('supervisor.indicator_metrics.total_indicators.title') %> </label>
  </div>
  <div class="small-12 columns">
    <label class="note"> <%= t('supervisor.indicator_metrics.update.total_indicators') %> </label>
  </div>
  <% if !(params[:action] == 'create' || params[:action] == 'new') %>
      <%= render 'total_indicator_types' %>
  <% else %>
      <div class="small-7 columns panel">
        <% SummaryType.all.each do |summary_type| %>
            <div class="small-12 medium-4 columns end">
              <%= label_tag summary_type.item.description %>
              <%= select_tag summary_type.item.description,
                             options_for_select(total_indicator_type_items), :prompt =>  summary_type.item.description %>
            </div>
        <% end %>
      </div>
  <% end %>


    <div  class="small-12 columns"> <br> </div>

  <div class="small-12 medium-4 columns">
    <%= f.label :order, t('supervisor.indicators.form.order') %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: 'button hollow'%>
  </div>

<% end %>
