<nav class="admin-sidebar">
  <ul id="admin_menu">
    <li>
      <%= link_to t("admin.dashboard.index.title"), admin_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "periods" %>>
      <%= link_to admin_periods_path do %>
        <span class="icon-debates"></span>
        <%= t("admin.menu.processes") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "organization_types" %>>
      <%= link_to admin_organization_types_path do %>
        <span class="icon-organizations"></span>
        <%= t("admin.menu.organization_types") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "unit_types" %>>
      <%= link_to admin_unit_types_path do %>
        <span class="icon-organizations"></span>
        <%= t("admin.menu.unit_types") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "organizations" %>>
      <%= link_to admin_organizations_path do %>
        <span class="icon-organizations"></span>
        <%= t("admin.menu.organizations") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "units" %>>
      <%= link_to admin_units_path do %>
        <span class="icon-organizations"></span>
        <%= t("admin.menu.units") %>
      <% end %>
    </li>

    <li <%= 'class=active' if controller_name == 'settings' %>>
      <%= link_to admin_root_path do %>
        <span class="icon-settings"></span>
        <%= t("admin.menu.settings") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "stats" %>>
      <%= link_to admin_root_path do %>
        <span class="icon-stats"></span>
        <%= t("admin.menu.stats") %>
      <% end %>
    </li>
  </ul>
</nav>
