<nav class="admin-sidebar">
  <%= link_to t('admin.dashboard.index.title'), admin_root_path %>

  <ul id="admin_menu" class="vertical menu" data-accordion-menu>
    <li id="users" <%= 'class=active' if controller_name == 'users' && params[:role].nil?  %>>
      <%= link_to admin_users_path do %>
          <span class="icon-users"></span>
          <%= t('admin.menu.users') %>
      <% end %>
    </li>
    <li id="organizations">
      <a href="#">
        <span class="icon-sitemap"></span>
        <%= t('admin.menu.group.units') %>
      </a>
      <ul class="menu vertical nested">
        <li <%= 'class=active' if controller_name == 'organization_types' %>>
          <%= link_to admin_organization_types_path do %>
            <%= t('admin.menu.organization_types') %>
          <% end %>
        </li>

        <li <%= 'class=active' if controller_name == 'unit_types' %>>
          <%= link_to admin_unit_types_path do %>
            <%= t('admin.menu.unit_types') %>
          <% end %>
        </li>

        <li <%= 'class=active' if controller_name == 'organizations' %>>
          <%= link_to admin_organizations_path do %>
            <%= t('admin.menu.organizations') %>
          <% end %>
        </li>

        <li <%= 'class=active' if controller_name == 'units' %>>
          <%= link_to admin_units_path do %>
            <%= t('admin.menu.units') %>
          <% end %>
        </li>

        <li <%= 'class=active' if controller_name == 'first_level_units' %>>
          <%= link_to admin_first_level_units_path do %>
            <%= t('share.menu.first_level_units') %>
          <% end %>
        </li>
      </ul>
    </li>

    <li id="units">
      <a href="#">
        <span class="icon-sitemap"></span>
        <%= t('supervisor.menu.units') %>
      </a>
      <ul class="menu vertical nested">
        <li id="rpt" <%= 'class=active' if controller_name == 'rpt' %>>
          <%= link_to admin_rpts_path do %>
            <span class="icon-download"></span>
            <%= t('admin.menu.laod_rpt') %>
          <% end %>
        </li>
        <li>
          <%= link_to admin_unit_rpt_assignations_path do %>
            <span class="icon-file-text-o"> </span>
            <%= t('subnavigation_menu.assign_rpt') %>
          <% end %>
        </li>
      </ul>
    </li>

    <li id="settings" <%= 'class=active' if controller_name == 'settings' %>>
      <%= link_to admin_settings_path do %>
        <span class="icon-cog"></span>
        <%= t('admin.menu.settings') %>
      <% end %>
    </li>

    <li id="activities" <%= 'class=active' if controller_name == 'activities' %>>
      <%= link_to admin_activities_path do %>
        <span class="icon-eye"></span>
        <%= t('admin.menu.activities') %>
      <% end %>
    </li>

    <li id="console" <%= 'class=active' if controller_name == 'RailsAdmin::Engine' %>>
      <%= link_to rails_admin_path, target: :_blank  do %>
          <span class="icon-cogs"></span>
          <%= t('admin.menu.console') %>
      <% end %>
    </li>

    <li id="sidekiq" <%= 'class=active' if controller_name == 'Sidekiq::Web' %>>
      <%= link_to sidekiq_web_path, target: :_blank  do %>
          <span class="icon-cogs"></span>
          <%= t('admin.menu.sidekiq') %>
      <% end %>
    </li>
  </ul>
</nav>

