
<%= form_for [:supervisor, @indicator] do |f| %>
  <br>
   <%= render 'shared/errors', resource: @indicator %>
  <div class="small-8 columns" >
    <%= f.hidden_field(:task_id) %>
    <%= f.hidden_field :item_id %>

    <%= f.label :item_id, t('supervisor.indicators.form.description')%>
    <%= f.select :item_id, options_for_select(indicator_items, @indicator.item_id), :prompt => t('supervisor.indicators.form.description'),
                 label: false, placeholder: t('supervisor.indicators.form.description') %>
  </div>

    <div class="row">
      <div class="small-7 columns" >
        <%= label_tag t('supervisor.indicators.form.items.description')%>
        <%= text_field_tag(:item_description) %>
      </div>
    </div>


  <div class="small-12 medium-4 columns">
    <%= f.label :order, t('supervisor.indicators.form.order') %>
    <%= f.text_field :order, label: false %>
  </div>

  <div class="actions small-12 columns">
      <%= f.submit t("actions.#{action_name}"), class: 'button hollow'%>
  </div>

<% end %>
