<br>
<br>
<table>
  <tr>
    <th><%= t('supervisor.indicators.item_list.indicator',
              process_name: t("supervisor.process_name.singular.#{process_name(@sub_process.main_process.period, controller_name)}")).capitalize %></th>
    <th class="text-left"><%= t('supervisor.indicators.item_list.metric') %></th>
    <th class="text-left"><%= t('.source') %></th>
    <th class="text-center" colspan="<%= SummaryType.all.count %>"><%= t('.totals') %></th>
    <th colspan="2"></th>
  </tr>
  <tr>
      <th colspan="3"></th>
      <% SummaryType.all.each do |summary_type|%>
        <th class="text-left"><%= summary_type.item.description %></th>
      <% end %>
    <th colspan="2"></th>
  </tr>

  <% @indicators.each do  |indicator|%>
    <tr id="<%= dom_id(indicator) %>">
      <td rowspan="indicator.indicator_metrics.count"  colspan="4">
        <% if indicator.description.nil? %>
          <strong> <%= indicator.main_process.order %>.<%= indicator.sub_process.order %>.<%= indicator.code %>. <%= indicator.item.description %></strong>
        <% else %>
          <br>
          <div class="moderation-description">
            <%= indicator.code %>. <%= simple_format (indicator.description) %>
          </div>
        <% end %>
      </td>
      <% if indicator.modifiable? == true %>
      <td>
        <%= link_to t('supervisor.indicator.index.indicator_metric.create'),
                    new_supervisor_indicator_metric_path(indicator_id: indicator.id, task_id: params['task_id']),
                    class: 'button tiny success hollow float-right' %>
      </td>
      <td>
        <%= link_to edit_supervisor_indicator_path(indicator, sub_process_id: @sub_process.id),
                    id: "edit_#{indicator.id}",
                    class: 'button warning float-right tiny hollow' do %>
            <span class="icon-pencil-square-o"></span>
            <%= t('actions.edit') %>
        <% end %>
      </td>
      <td>
        <% msg = delete_msg(indicator.class.name.pluralize.underscore, indicator.eliminable?, indicator.modifiable?, false ) %>
        <%= link_to supervisor_indicator_path(indicator, sub_process_id: @sub_process.id), method: :delete,
                    data: {confirm: msg},
                    id: "delete_#{indicator.id}",
                    class: 'button alert float-right tiny hollow' do %>
            <span class="icon-delete"></span>
            <%= t('actions.delete') %>
        <% end %>
      </td>
      <% end %>

      <td>
      <% indicator.indicator_metrics.order(:order).each do |im| %>
      <tr id="<%= dom_id(im) %>">
        <td> </td>
        <td id="<%= dom_id(im) %>">
          <%= im.metric.item.description %>
        </td>
        <td >
          <% im.indicator_sources.all.each do |is|  %>
            <%= is.source.item.description %>
          <% end %>
        </td>

          <% SummaryType.all.each do |summary_type|%>
              <% mark = total_check(im, summary_type.id) %>
              <td id="<%= dom_id(summary_type) %>" title="<%= "#{t("supervisor.indicators.total_indicator_type.#{mark}")}"%>"><%= mark%></td>
          <% end %>

        <td>
          <% if indicator.modifiable? == true %>
            <%= link_to edit_supervisor_indicator_metric_path(im, indicator_id: indicator.id),
                        id: "edit_#{im.id}",
                        class: 'button warning float-right tiny hollow' do %>
                          <span class="icon-pencil-square-o"></span>
                          <%= t('actions.edit') %>
                        <% end %>
          <% end %>
        </td>
        <td>
          <% if indicator.modifiable? == true %>
           <%= link_to supervisor_indicator_metric_path(im, indicator_id: indicator.id),
                       method: :delete, data: {confirm: t('supervisor.indicator_metrics.delete')},
                       id: "delete_#{im.id}",
                       class: 'button alert float-right tiny hollow' do %>
                         <span class="icon-delete"></span>
                         <%= t('actions.delete') %>
                       <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>

  <% end %>
</table>
