<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Carga de RPT</h1>

    <%= form_tag(action: :update) do %>
      <div class="small-6 medium-2 columns">
        <%= text_field_tag(:year, @year, placeholder: "Año") %>
      </div>
      <div class="small-6 medium-2 columns">
        <%= submit_tag("Cargar", class: "button hollow") %>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <table class="unit-status">
            <tr>
              <th> Cargada </th>
              <th> Organizacion </th>
              <th> Fichero </th>
              <th> Selección </th>
            </tr>
            <% @organizations.each do |organization|%>
              <tr>
                <td class="check">
                  <span class="<%= organization_loaded?(organization, @year) %>"></span></td>
                <td> <%= organization.description %> </td>
                <td>public/carga_RPT_organization_<%= organization.id %>.xlsx</td>
                <td><%= check_box_tag("organization[#{organization.id} ]", organization.id) %> </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>