
<div>
  <div class="expanded highlight padding">
     <h3>Proceso: <%= Item.find(@main_process.item_id).description%> </h3>
     <h3>Subproceso:  <%= Item.find(@sub_process.item_id).description %></h3>
     <strong><%= @organization_type.description %> / <%= @period.description %></strong>
  </div>
</div>

  <table>
    <% @tasks.each do  |task|%>
      <tr id="<%= dom_id(task) %>">
        <td style="width: 50%">
          <div class="admin-list small-12 medium14 column">
            <%= Item.find(task.item_id).description %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to  admin_indicators_path(commit: t("admin.tasks.index.submit"),
                task_id: task.id),
                class: 'button small float-right' do %>
                  <span class="icon-tag"></span>
                  <%= t("admin.tasks.index.indicators") %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to admin_in_works_path(task),
                class: 'button small float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.actions.edit") %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to admin_in_works_path(task),
                class: 'button small alert float-right' do %>
                <span class="icon-box"></span>
                <%= t("admin.actions.delete") %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
