<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Carga de RPT</h1>

    <div class="row" >
      <p class="note">
        <strong> <%= t('admin.rpts.index.import.import.title') %> </strong>
        <%= t('admin.rpts.index.import.line_html') %> (<%= link_to t('admin.rpts.index.import.format'), "/cargas/RPT.xlsx" %> )
        <div class="small-12 columns">
          <%= form_tag import_admin_rpts_path(year: @year), multipart: true do %>
            <div class="medium-4 columns">
              <%= file_field_tag :file %>
            </div>
            <div class="medium-2 columns end">
              <%= submit_tag t('admin.rpts.index.import.button'), class: "hollow button" %>
            </div>
          <% end %>
        </div>
      </p>
    </div>

    <div class="row" >
      <p class="note">
        <strong><%= t('admin.rpts.index.export.title') %> : </strong>
        <%= link_to t('admin.rpts.index.export.button'), admin_rpts_path(format: "xls") %>
      </p>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <% if @year.present? %>
          <div class="small-6 medium-4 columns">
            <strong> <%= t('admin.rpts.index.last_year') %> <%= @year %> </strong><br>
            <strong>Plazas totales:</strong>
            <ul>
              <li>Totales:  <%= format_number(Rpt.by_year(@year).count, 'no_decimals') %></li>
              <li>Ocupadas: <%= format_number(Rpt.by_year(@year).occupied.count, 'no_decimals') %></li>
              <li>Vacantes: <%= format_number(Rpt.by_year(@year).vacant.count, 'no_decimals') %> </li>
            </ul>
          </div>
        <% else %>
            <strong class="text-center"> <%= t('admin.rpts.index.no_data') %> </strong>
        <% end %>

      </div>
    </div>
  </div>
</div>