<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Carga de RPT</h1>

    <div class="row" >
      <p class="note">
        <strong> <%= t('admin.rpts.index.import.import.title') %> </strong>
        <%= t('admin.rpts.index.import.line_html') %> (<%= link_to t('admin.rpts.index.import.format'), "/cargas/RPT.xlsx" %> )
        <div class="small-12 columns">
          <%= form_tag import_admin_rpts_path(year: @year), multipart: true do %>
            <div class="medium-4 columns">
              <%= file_field_tag :file %>
            </div>
            <div class="medium-2 columns end">
              <%= submit_tag t('admin.rpts.index.import.button'), class: "hollow button" %>
            </div>
          <% end %>
        </div>
      </p>
    </div>

    <div class="row" >
      <p class="note">
        <strong><%= t('admin.rpts.index.export.title') %> : </strong>
        <%= link_to t('admin.rpts.index.export.button'), admin_rpts_path(format: "xls") %>
      </p>
    </div>
    <%= render 'rpt_counts' %>

    <!--%= render 'show_organizations_list' %-->



  </div>
</div>