<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Carga de RPT</h1>

    <div class="row" >
      <div class="small-12 columns">
        <p> <strong> <%= t('admin.rpts.index.import.import.title') %> </strong></p>
          <%= form_tag import_admin_rpts_path, multipart: true do %>
            <div class="small-12 columns">
                Seleccionar año al que corresponde la RPT del fichero a importar:
                <span class="note">El año a cargar se indica en la primera columna del excel y debe coincidir con el
                  seleccionado (<%= link_to t('admin.rpts.index.import.format'), "/imports/RPT.xlsx" %> )
                <br>Solo se permite importar datos del último año cargado, o del siguiente, nunca de los anteriores. </span>
            </div>
            <div class="small-12 columns">
              <div class="medium-2 columns">
                <%= label_tag(:year, 'Año') %>
                <%= select_tag(:year, options_for_select(Rpt.last_year_and_next, selected: @year )) %>
              </div>
            </div>
            <div class="small-12 columns">
              <div class="small-12 medium-6 columns">
                <%= label_tag(:file, 'Fichero') %>
                <%= file_field_tag :file %>
              </div>
              <div class="small-12 medium-2 columns end ">
                <%= submit_tag t('admin.rpts.index.import.button'), class: "hollow button",
                               data: {:confirm => t('admin.rpts.index.import.confirm')}  %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="small-12 columns">
      <br><p>
        <strong><%= t('admin.rpts.index.export.title') %> : </strong>
        <%= link_to t('admin.rpts.index.export.button'), admin_rpts_path(format: "xls") %>
      </p>
    </div>
    <%= render 'rpt_counts' %>
    <!--%= render 'show_organizations_list' %-->
  </div>
</div>