<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">Carga de RPT</h1>

    <div class="row" >
      <p class="note">
        <strong> <%= t('admin.rpts.index.import.import.title') %> </strong>
        <%= t('admin.rpts.index.import.line_html') %> (<%= link_to t('admin.rpts.index.import.format'), "/cargas/RPT.xlsx" %> )
        <div class="small-12 columns">
          <%= form_tag import_admin_rpts_path(year: @year), multipart: true do %>
            <div class="medium-4 columns">
              <%= file_field_tag :file %>
            </div>
            <div class="medium-2 columns end">
              <%= submit_tag t('admin.rpts.index.import.button'), class: "hollow button" %>
            </div>
          <% end %>
        </div>
      </p>
    </div>

    <div class="row" >
      <p class="note">
        <strong><%= t('admin.rpts.index.export.title') %> : </strong>
        <%= link_to t('admin.rpts.index.export.button'), admin_rpts_path(format: "xls") %>
      </p>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <% if @year.present? %>
          <div class="small-6 medium-4 columns">
            <strong> <%= t('admin.rpts.index.last_year') %> <%= @year %> </strong>
          </div>
        <% else %>
            <strong class="text-center"> <%= t('admin.rpts.index.no_data') %> </strong>
        <% end %>

        <table class="unit-status">
          <tr>
            <th> <%= t('admin.rpts.index.load') %></th>
            <th> <%= t('admin.rpts.index.organization') %> </th>
            <th> <%= t('admin.rpts.index.occupied') %> </th>
            <th> <%= t('admin.rpts.index.vacancy') %> </th>
          </tr>

          <% @organizations.each do |organization|%>
            <tr>
              <td class="check">
                <span class="<%= organization_loaded?(organization, @year) %>"></span></td>
              <td> <%= organization.description %> </td>
              <td> <%= organization.rpts.by_year(@year).occupied.count %> </td>
              <td> <%= organization.rpts.by_year(@year).vacant.count %> </td>
            </tr>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>