<%= render "admin/shared/index" %>
<h2><%= t("admin.main_processes.index.title") %></h2>
<p>
  <%= link_to t("admin.main_process.index.create"),
              new_admin_main_process_path,
              class: "button large success " %>
</p>

<% if @main_processes.nil? %>
  <%= render 'select_options' %>
<% else %>
  <%=  render 'item_list' %>
  <%= #render 'items_list', resource:  @main_processes,
      #                   son_resource_path: admin_sub_processes_path,
      #                     resource_edit_path: edit_admin_main_process_path(main_process)
  %>
<% end %>
