<p id="notice"><%= notice %></p>

<h2><%= t("admin.mainprocesses.index.title") %></h2>

<p>
  <%= link_to t("admin.mainprocesses.index.create"),
              new_admin_mainprocess_path,
              class: "button large success " %>
</p>

<h3><%= page_entries_info @mainprocesses %> </h3>

<table>
  <% @mainprocesses.each do |mainprocess| %>
    <tr id="<%= dom_id(mainprocess) %>">
      <td>
        <div><%= t("admin.mainprocesses.mainprocess.descripcion")%> 
          <%= mainprocess.descripcion %> 
        </div>
      </td>
      <td>
        <%= link_to edit_admin_mainprocess_path(mainprocess), 
            class: 'edit-banner button warning small float-right' do %>
              <span class="icon-edit"></span>
              <%= t("admin.mainprocesses.index.edit") %>
            <% end %>
      </td>
      <td>
        <%= link_to admin_mainprocess_path(mainprocess), method: :delete,
            class: 'delete-banner button alert small float-right' do %>
              <span class="icon-delete"></span>
              <%= t("admin.mainprocesses.index.delete") %>
            <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @mainprocesses %>
