<%= render "admin/shared/index" %>

<h2><%= t("admin.main_processes.index.title") %>  </h2>

<div class="row">

  <div class="column short-4">
    <br><%= link_to t("admin.main_processes.index.create"),
                new_admin_main_process_path(period_id: params["period_id"],
                                            organization_type_id: params["organization_type_id"]),
                class: "button large success " %>
  </div>
</div>

<div>
  <% if @main_processes.empty? %>
    <strong> <%=t("admin.main_processes.index.empty") %> </strong>
  <% else %>
    <%=  render 'item_list' %>
    <%= #render 'items_list', resource:  @main_processes,
        #                   son_resource_path: admin_sub_processes_path,
        #                     resource_edit_path: edit_admin_main_process_path(main_process)
    %>
  <% end %>
</div>