<div>
  <div class="expanded highlight padding">
     <h3>"Proceso: "<%= Item.find(@main_process.item_id).description%> </h3>
     <strong><%= @organization_type.name %> / <%= @period.description %></strong>
  </div>
</div>

  <table>
    <% @sub_processes.each do  |sub_process|%>
      <tr id="<%= dom_id(sub_process) %>">
        <td style="width: 50%">
          <div class="admin-list small-12 medium14 column">
            <%= Item.find(sub_process.item_id).description %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to  admin_tasks_path(commit: t("admin.tasks.index.submit"),
                     sub_process_id: sub_process.id),
                     class: 'button small float-right' do %>
                      <span class="icon-tag"></span>
                      <%= t("admin.sub_processes.index.tasks") %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to edit_admin_sub_process_path(sub_process),
                class: 'button small float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.actions.edit") %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="admin-list column">
            <%= link_to admin_sub_process_path(sub_process), method: :delete,
                class: 'button small alert float-right' do %>
                <span class="icon-box"></span>
                <%= t("admin.actions.delete") %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
