
<div>
 <h3 class= "center"> <%= @organization_type.name %> / <%= @period.name %></h3>
 <h3> <%= @organization_type.name %> /</h2>
</div>

  <table>
    <% @main_processes.each do  |main_process|%>
      <tr id="<%= dom_id(main_process) %>">
        <td>
          <div class="admin-list small-12 medium-6 column">
            <%= main_process.description %>
          </div>
        </td>
        <td>
          <%= link_to  admin_sub_processes_path,
              class: 'button  float-right' do %>
                <span class="icon-success"></span>
                <%= t("admin.main_process.index.sub_processes") %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_admin_main_process_path(main_process),
              class: 'button warning float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.main_process.index.edit") %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_main_process_path(main_process), method: :delete,
              class: 'button alert float-right' do %>
                <span class="icon-delete"></span>
                <%= t("admin.main_process.index.delete") %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
