<%= render "admin/shared/index" %>

<h2><%= t("admin.sub_processes.index.title") %></h2>
<p>
  <%= link_to t("admin.sub_processes.index.create"),
              new_admin_sub_process_path,
              class: "button large success " %>
</p>
  <% if @sub_processes.nil? %>
    <%= render 'admin/shared/in_works' %>
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</p>