<div class="row" >
  <div class="small-12 columns">
    <%= link_to(t('actions.back'),'javascript:history.go(-1);', class:"icon-angle-left" ) %>

    <h1 class="text-center"><%= t('supervisor.units.edit.title') %></h1>
    <p class="note"> <%= t('supervisor.units.edit.instructions.line_1') %></p>
    <ul>
      <li class="note"> <%= t('supervisor.units.edit.instructions.line_2_html') %></li>
      <li class="note"> <%= t('supervisor.units.edit.instructions.line_3_html') %></li>
    </ul>
    <p class="note"> <%= t('supervisor.units.edit.instructions.line_4') %></p>
    <p class="note"> <%= t('supervisor.units.edit.instructions.line_5') %></p>

    <div class="row">
      <div class="small-12 columns">
        <%= form_tag supervisor_unit_path(@organization, year: @year), method: :patch do %>
          <table class="unit-status" >
            <%= render 'edit_header' %>
            <%= render 'organization_data' %>
            <%= render 'unit_data' %>
            <%= render 'unassigned_data' %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
