<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <ss:Styles>
    <ss:Style ss:ID="Default" ss:Name="Normal">
      <ss:Alignment ss:Vertical="Bottom"/>
      <ss:Borders/>
      <ss:Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <ss:Interior/>
      <ss:NumberFormat/>
      <ss:Protection/>
    </ss:Style>
    <ss:Style ss:ID="sTitle">
      <ss:Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <ss:Borders/>
      <ss:Font ss:FontName="Arial" x:Family="Swiss" ss:Size="12" ss:Bold="1"/>
      <ss:Interior ss:Color="#5BA5A0" ss:Pattern="Solid"/>
      <ss:NumberFormat/>
      <ss:Protection/>
    </ss:Style>
    <ss:Style ss:ID="sHeader">
      <ss:Alignment ss:Vertical="Bottom"/>
      <ss:Borders/>
      <ss:Font ss:FontName="Arial" ss:Bold="1"/>
      <ss:Interior ss:Color="#5BA5A0" ss:Pattern="Solid"/>
      <ss:NumberFormat/>
      <ss:Protection/>
    </ss:Style>
    <ss:Style ss:ID="sTotal">
      <ss:Alignment ss:Vertical="Bottom"/>
      <ss:Borders/>
      <ss:Font ss:FontName="Arial" ss:Bold="1"/>
      <ss:Interior ss:Color="#A9D08E" ss:Pattern="Solid"/>
      <ss:NumberFormat/>
      <ss:Protection/>
    </ss:Style>
  </ss:Styles>

  <Worksheet ss:Name="Asignacion de RPT de unidades">
    <Table>
      <ss:Column ss:Width="180"/>
      <ss:Column ss:Width="180"/>
      <ss:Column ss:Width="80"/>
      <ss:Column ss:Width="180"/>
      <ss:Column ss:Width="40"/>
      <ss:Column ss:Width="40"/>
      <ss:Column ss:Width="40"/>
      <ss:Column ss:Width="40"/>
      <ss:Column ss:Width="40"/>
      <ss:Column ss:Width="40"/>
      <Row ss:AutoFitHeight="0" ss:Height="31.799999999999997">
        <Cell ss:MergeAcross="10" ss:StyleID="sTitle"><Data ss:Type="String">ASIGNACIÓN DE PUESTOS A UNIDADES - <%= @year %></Data></Cell>
      </Row>
      <Row>
        <% UnitRptAssignation.export_columns.each do |col| %>
         <Cell ss:StyleID="sHeader"><Data ss:Type="String"><%= col %></Data></Cell>
        <% end %>
      </Row>
      <% @organization_types.each do |type| %>
       <%  rpt_load_conditions(type) %>
        <% type.organizations.each do |organization| %>
          <% organization.units.each do |unit| %>
              <Row>
                <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= organization.description %></Data></Cell>
                <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= unit.description_sap %></Data></Cell>
                <Cell ss:StyleID="sTotal"><Data ss:Type="String">   </Data></Cell>
                <Cell ss:StyleID="sTotal"><Data ss:Type="String">TOTAL</Data></Cell>
                <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= rpt_unit(@year, assigned_units(@year, unit.id))%> </Data></Cell>
                <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                  <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
                <% end %>
              </Row>
            <% unit.unit_rpt_assignations.by_year(@year).by_year(@year).order(:sapid_unit).each do |item|  %>
              <Row>
                <Cell><Data ss:Type="String"><%= organization.description %></Data></Cell>
                <Cell><Data ss:Type="String"><%= unit.description_sap %></Data></Cell>
                <Cell><Data ss:Type="String"><%= item.sapid_unit %></Data></Cell>
                <Cell><Data ss:Type="String"><%= item.den_unit %></Data></Cell>
                <Cell><Data ss:Type="String"><%= rpt_unit(@year, item.sapid_unit)%></Data></Cell>
                <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                  <Cell><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
                <% end %>
              </Row>
            <% end %>
          <% end %>
          <Row>
            <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= organization.description %></Data></Cell>
            <Cell ss:StyleID="sTotal"><Data ss:Type="String">SIN ASIGNAR</Data></Cell>
            <Cell ss:StyleID="sTotal"><Data ss:Type="String">SIN ASIGNAR </Data></Cell>
            <Cell ss:StyleID="sTotal"><Data ss:Type="String"></Data></Cell>
            <Cell ss:StyleID="sTotal"><Data ss:Type="String"></Data></Cell>
            <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
              <Cell ss:StyleID="sTotal"><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
            <% end %>
          </Row>

          <% UnitRptAssignation.by_year(@year).by_organization(organization).unassigned.each do |assign_rec| %>
            <Row>
              <Cell><Data ss:Type="String"><%= organization.description %></Data></Cell>
              <Cell><Data ss:Type="String">SIN ASIGNAR</Data></Cell>
              <Cell><Data ss:Type="String"><%=  %></Data></Cell>
              <Cell><Data ss:Type="String"><%= assign_rec.den_unit %></Data></Cell>
              <Cell><Data ss:Type="String"><%= rpt_unit(@year, assign_rec.sapid_unit)%></Data></Cell>
              <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                <Cell><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
              <% end %>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
