<div class="row" >
  <div class="small-12 columns">
    <h1 class="text-center">RPT de unidades</h1>

    <div class = "row" >
      <p>
        <%= t("admin.settings.index.criteria") %><br>
        <% @organization_types.each do |type| %>
          <strong><%= type.description %> </strong>
          <ul class="note">
            <% rpt_settings.each do |rpt_condition| %>
              <li>
                <% if rpt_condition_enabled?(rpt_condition, type.acronym) %>
                  <%= t("admin.settings.index.#{rpt_condition}.title") %>
                <% else %>
                  <%= t("admin.settings.index.#{rpt_condition}.no_title") %>
                <% end %>
              </li>
            <% end %>
          </ul>
      </p>
    </div>

    <div class="row" >
      <p  class="note">
        Exportar listado:
        <%= link_to "Excel", supervisor_units_path(format: "xls") %> |
        <%= link_to "CSV",   supervisor_units_path(format: "csv") %>
      </p>
      <p  class="note">
        Exportar <strong>RPT</strong>:
        <%= link_to "Excel", admin_rpts_path(format: "xls") %> |
        <%= link_to "CSV", admin_rpts_path(format: "csv") %>
      </p>
    </div>

    <div class="row">
      <div class="small-12 columns">
         <%= form_tag(supervisor_units_path, method: :get) do %>
           <div class="small-6 medium-2 columns">
             <%= select_tag(:year, options_for_select(Period.select_year, selected: @year )) %>
           </div>

           <div class="medium-2 columns end">
             <%= submit_tag "Cambiar periodo", class: "hollow button" %>
           </div>
         <% end %>
       </div>
      <div class="small-12 columns">
        <table class="unit-status" >
          <tr>
            <th>Detalle </th>
            <th colspan="2"> Organizacion </th>
            <th colspan="7"> Ocupados </th>
            <th colspan="7"> Vacantes </th>
          </tr>
          <tr>
            <th colspan = "3"></th>
            <th>Tot.</th>
            <th>A1  </th>
            <th>A2  </th>
            <th>C1  </th>
            <th>C2  </th>
            <th>E   </th>
            <th>X   </th>
            <th>Tot.</th>
            <th>A1  </th>
            <th>A2  </th>
            <th>C1  </th>
            <th>C2  </th>
            <th>E   </th>
            <th>X   </th>
          </tr>
          <% @organization_types.each do |type| %>
            <strong><%= type.description %> </strong>
           <!-- Organizations -->
            <% @organizations.each do |organization|%>
              <tr>
                <td >
                  <%= link_to "", detail_supervisor_unit_path(id: organization.id, year: @year), class:"icon-search" %>
                </td>
                <th class= "text-left" colspan="2" title="<%= organization.sap_id %>">
                  <%= organization.description %>
                </th>
                <th title="Ocupadas">    <%= organization.rpts.by_year(@year).condition(rpt_condition).count %> </th>
                <td title="Ocupadas A1"> <%= organization.rpts.by_year(@year).occupied.a1.count %> </td>
                <td title="Ocupadas A2"> <%= organization.rpts.by_year(@year).occupied.a2.count %> </td>
                <td title="Ocupadas C1"> <%= organization.rpts.by_year(@year).occupied.c1.count %> </td>
                <td title="Ocupadas C2"> <%= organization.rpts.by_year(@year).occupied.c2.count %> </td>
                <td title="Ocupadas E">  <%= organization.rpts.by_year(@year).occupied.e.count %> </td>
                <td title="Ocupadas X">  <%= organization.rpts.by_year(@year).occupied.nogrtit.count %> </td>
             </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
