<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="RPT">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Año</Data></Cell>
        <Cell><Data ss:Type="String">Organización</Data></Cell>
        <Cell><Data ss:Type="String">Unidad </Data></Cell>
        <Cell><Data ss:Type="String">id_unidad</Data></Cell>
        <Cell><Data ss:Type="String">den_unidad</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">A1</Data></Cell>
        <Cell><Data ss:Type="String">A2</Data></Cell>
        <Cell><Data ss:Type="String">C1</Data></Cell>
        <Cell><Data ss:Type="String">C2</Data></Cell>
        <Cell><Data ss:Type="String">Agr</Data></Cell>
        <Cell><Data ss:Type="String"> X  </Data></Cell>
      </Row>
      <% @organization_types.each do |type| %>
       <%  rpt_load_conditions(type) %>
        <% type.organizations.each do |organization| %>
          <% organization.units.each do |unit| %>
            <Row>
              <Cell><Data ss:Type="Number"><%= @rpt_year %></Data></Cell>
              <Cell><Data ss:Type="String"><%= organization.description %></Data></Cell>
              <Cell><Data ss:Type="String"><%= unit.description_sap %></Data></Cell>
              <Cell><Data ss:Type="String">   </Data></Cell>
              <Cell><Data ss:Type="String">TOTAL</Data></Cell>
              <Cell><Data ss:Type="String"><%= rpt_unit(@year, assigned_units(@year, unit.id))%> </Data></Cell>
              <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                <Cell><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
              <% end %>
            </Row>
            <% unit.unit_rpt_assignations.by_year(@year).by_year(@year).order(:sapid_unit).each do |item|  %>
              <Row>
                <Cell><Data ss:Type="Number"><%= @rpt_year %></Data></Cell>
                <Cell><Data ss:Type="String"><%= organization.description %></Data></Cell>
                <Cell><Data ss:Type="String"><%= unit.description_sap %></Data></Cell>
                <Cell><Data ss:Type="String"><%= item.sapid_unit %></Data></Cell>
                <Cell><Data ss:Type="String"><%= item.den_unit %></Data></Cell>
                <Cell><Data ss:Type="String"><%= rpt_unit(@year, item.sapid_unit)%></Data></Cell>
                <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                  <Cell><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
                <% end %>
              </Row>
            <% end %>
          <% end %>
          <% UnitRptAssignation.by_year_and_organization_without_unit((@year), organization).each do |assign_rec| %>
            <Row>
              <Cell><Data ss:Type="Number"><%= @rpt_year %></Data></Cell>
              <Cell><Data ss:Type="String"><%= organization.description %></Data></Cell>
              <Cell><Data ss:Type="String">SIN ASIGNAR</Data></Cell>
              <Cell><Data ss:Type="String"><%=  %></Data></Cell>
              <Cell><Data ss:Type="String"><%= assign_rec.den_unit %></Data></Cell>
              <Cell><Data ss:Type="String"><%= rpt_unit(@year, assign_rec.sapid_unit)%></Data></Cell>
              <% %w(A1 A2 C1 C2 E X).each do |grtit|%>
                <Cell><Data ss:Type="String"><%= @rpt_grtit[grtit] %></Data></Cell>
              <% end %>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
