
<br>
<table>
  <% @sub_processes.each do  |sub_process|%>
    <% if @unit_type_before != sub_process.unit_type.description %>
      <tr>
        <td class="expanded highlight">
          <%= sub_process.unit_type.description %>
        </td>
        <td class="expanded highlight"></td>
        <td class="expanded highlight"></td>
        <td class="expanded highlight"></td>
      </tr>
      <% @unit_type_before = sub_process.unit_type.description%>
    <% end %>
    <tr id="<%= dom_id(sub_process) %>">
      <td class="admin-list">
        <%= sub_process.main_process.order %>. <%= sub_process.order %>. <%= sub_process.item.description %>
      </td>
      <td>
        <%= link_to supervisor_indicators_path(commit: t('supervisor.indicators.index.submit'),
                                            sub_process_id: sub_process.id),
            id: "index_#{sub_process.id}",
            class: 'button small float-right hollow' do %>
              <span class="icon-tag"></span>
              <%= t('supervisor.sub_processes.index.indicators',
                    process_name: t("supervisor.process_name.plural.#{process_name(@main_process.period, 'Indicators')}")).capitalize %>
        <% end %>
      </td>
      <td>
        <% if sub_process.modifiable? == true %>
          <%= link_to edit_supervisor_sub_process_path(sub_process),
              id: "edit_#{sub_process.id}",
              class: 'button small float-right hollow' do %>
                <span class="icon-edit"></span>
                <%= t('actions.edit') %>
              <% end %>
          <% end %>
      </td>
      <td>
        <% if sub_process.modifiable? == true %>
            <% msg = delete_msg(sub_process.class.name.pluralize.underscore, sub_process.main_process.period.eliminable?,
                                sub_process.main_process.period.modifiable?, sub_process.is_empty? ) %>
            <%= link_to supervisor_sub_process_path(sub_process), method: :delete,
                data: {confirm: msg},
                id: "delete_#{sub_process.id}",
                class: 'button small alert float-right hollow' do %>
                <span class="icon-box"></span>
                <%= t('actions.delete') %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
