<p id="notice"><%= notice %></p>

<h1>Listing Subtypeorgs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subtypeorgs.each do |subtypeorg| %>
      <tr>
        <td><%= link_to 'Show', subtypeorg %></td>
        <td><%= link_to 'Edit', edit_subtypeorg_path(subtypeorg) %></td>
        <td><%= link_to 'Destroy', subtypeorg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtypeorg', new_subtypeorg_path %>
