  <div class="row margin">
    <%= form_for :main_processes,  method: :get do |f| %>
      <div class="small-12 medium-4 column">
        <%= f.label :organization_type_id,
            t('supervisor.main_processes.index.select_organization_type') %>
        <%= f.select :organization_type_id,
                      options_for_select(OrganizationType.select_options),
                      label: false,
                      id: 'js-organizations-select',
                      prompt: ' ',
                      class: 'js-submit-on-change' %>
      </div>
      <div class="small-12 medium-4 column">
        <%= f.label :period_id,
            t('supervisor.main_processes.index.select_period') %>
        <%= f.select :period_id,
                      options_for_select(period_select_options),
                      id: 'js-periods-select',
                      prompt: ' ',
                      label: false,
                      class: 'js-submit-on-change' %>
      </div>
      <div class="small-12 medium-4 " >
        <%= f.submit t('supervisor.main_processes.index.submit'), class: 'button end float-bottom tiny hollow' %>
      </div>
    <% end %>
  </div>
