<% @main_processes.each do |mp| %>
  <div class="card ">
    <div class="main_process small-12 columns">
      <h5><%= mp.order %> <%= mp.item.description %></h5>
      <% if mp.id == @mp_id.to_i %>
       <%= link_to "Ocultar subprocesos",
                    process_summary_index_path(type: 'SubProcess') if @type == "SubProcess" %>
      <% else %>
        <%= link_to "Ver subprocesos",
                    process_summary_index_path(type: 'SubProcess', id: mp.id) if @type == "SubProcess" %>
      <% end %>
    </div>

    <% if @type == "SubProcess" %>
      <% if mp.id == @mp_id.to_i %>
        <% @sub_processes.each do |sp| %>
          <div class="sub_process small-12 columns">
            <h5><%= sp.order %> <%= sp.item.description %></h5>
          </div>
          <div class="card-content">
            <%= render partial: 'detail', locals: {pid: sp.id} %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="card-content">
        <%= render partial: 'detail', locals: {pid: mp.id}  %>
      </div>
    <% end %>
  </div>
<% end %>
