<% @main_processes.each do |mp| %>
  <div id = "js-summary-process_s"
        data = "js-summary-process" data-js-url= <%=process_summary_index_path%>,
        data-js-id: <%="#{mp.id}"%>, data-js-process-type: <%="#{mp.class.name}" %>>

    <div class="ficha">
      <div class="row">
        <div class="medium-12 small-12 columns" >
          <div class=" medium-1 short-1 columns">       </div>
          <div class="main_process medium-10 short-10 columns">
            <h5> <%= mp.order %> <%= mp.item.description %> </h5>
          </div>
          <div class="medium-1 short-1 columns">       </div>
        </div>
      </div>

      <div class="row indicadores">
        <div class="medium-12 small-12 columns" >
          <div class="medium-10 short-10 columns">
            <div class="medium-3 short-3 columns">
              <h5> INDICADORES </h5>
            </div>
            <div class="medium-9 short-9 columns end">
              <% spi = summary_indicators(mp.id)%>
              <% if spi %>
                <% spi.each do |i| %>
                  <div class="row">
                    <div class="medium-12 small-12 columns end" >
                      <div class="medium-7 small-7 columns">
                        <h6><%= i.indicator %></h6>
                      </div>
                      <div class="medium-5 small-5 columns end"><h6>
                        <%= i.metric %></h6>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row indicadores">
        <div class="medium-12 small-12 columns" >
          <div class="medium-10 short-10 columns">
            <div class="medium-6 small-6 columns" >
              <h5>Distrito</h5>
            </div>
            <div class="medium-1 small-1 columns" >
              <h5>Indicador</h5>
            </div>
            <div class="medium-1 small-1 columns" >
              <h5>A1</h5>
            </div>
            <div class="medium-1 small-1 columns" >
             <h5>A2</h5>
            </div>
            <div class="medium-1 small-1 columns" >
              <h5>C1</h5>
            </div>
            <div class="medium-1 small-1 columns" >
              <h5>C2</h5>
            </div>
            <div class="medium-1 small-1 columns end" >
              <h5>E</h5>
            </div>
          </div>
        </div>
      </div>
      <% spd = summary_details(mp.id) %>
      <% if spd %>
        <% spd.each do |d| %>

          <div class="row distritos">
            <div class="medium-12 small-12 columns" >
              <div class="medium-10 short-10 columns">
                <div class="medium-6 small-6 columns" >
                  <%= distrito(d.unit_id) %>
                </div>
                <div class="medium-1 small-1 columns end" >
                  <%= d.amount %>
                </div>
                <div class="medium-1 small-1 columns" >
                  <%= d.A1 %>
                </div>
                <div class="medium-1 small-1 columns" >
                  <%= d.A2 %>
                </div>
                <div class="medium-1 small-1 columns" >
                 <%= d.C1 %>
                </div>
                <div class="medium-1 small-1 columns" >
                  <%= d.C2 %>
                </div>
                <div class="medium-1 small-1 columns" >
                  <%= d.E %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
<% end %>
