<div class="card">
  <div class="main_process medium-12">
    <strong class="title"><%= main_process.order %>  <%= main_process.item.description %></strong>
  </div>
  <% if @type == "SubProcess" %>
    <ul class="accordion" data-multi-expand="true" data-allow-all-closed="true" data-accordion>
       <%= render partial: "sub_process", collection: main_process.sub_processes %>
    </ul>
  <% else %>
    <div id="detail_mp_<%= main_process.id %>" class="card-content">
      <%= button_to 'Ver detalle', process_summary_path(id: main_process.id, type: "main_process" ), remote: true, class: "float-right tiny hollow button" %>
    </div>
  <% end %>
  </div>
