<div class="row">
  <%= render 'shared/back' %>

  <div class="small-12 columns">
    <div class="small-10 columns">
      <h2><%= title %>  </h2>
    </div>

    <% if modifiable == true && !path.nil? %>
      <div class="column small-2">
        <%= link_to button, path, class: 'button large success hollow' %>
      </div>
    <% end %>
  </div>
</div>

<div class="expanded highlight padding">
  <% unless period.nil? %>
      <h5> <%= t('supervisor.headers.organization') %> <%= period.organization_type.description %> </h5>
      <h5> <%= t('supervisor.headers.period') %> <%= period.description %></h5>
  <% end %>
  <% unless main_process.nil? %>
      <h5> <%= main_process.order %>. <%= main_process.item.description %> </h5>
  <% end %>
  <% unless sub_process.nil? %>
      <h5> <%= main_process.order %>.<%= sub_process.order %>. <%= sub_process.item.description %></h5>
  <% end %>
  <% unless indicator.nil? %>
      <h5> <%= main_process.order %>.<%= sub_process.order %>.<%= indicator.order %>. <%= indicator.item.description %></h5>
  <% end %>
  <% unless indicator_metric.nil? %>
      <h5>     <%= indicator_metric.metric.item.description %></h5>
  <% end %>

</div>
