<div class="small-12 column">

    <table>
      <% users.each do |user| %>
      <tr>
        <td>
          <%= user.login %>
        </td>
        <td>
          <%= user.full_name %>
        </td>
        <td>
          <%= user.official_position %>
        </td>
        <td class="text-right">
          <% if user.persisted? and user.has_role? params[:role], :any %>
              <%= link_to t('admin.roles.action.delete'),
                          admin_role_path(user.id, role: params[:role]),
                          method: :delete,
                          class: "button hollow alert" %>
          <% else %>
              <%= link_to t('admin.roles.action.add'),{ controller: "admin/roles", action: :create, id: user.id, role: params[:role] },
                          method: :post, class: "button success hollow" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>


