<h2><%= t("admin.roles.index.title.#{params[:role_name]}") %></h2>

<div class="row">
  <%= form_tag search_admin_roles_path(role_name: params[:role_name]), method: :get, remote: true  do %>
      <div class="small-12 medium-6 column">
        <%= text_field_tag :search, '', placeholder: t('admin.roles.search.login_placeholder') %>
      </div>
      <div class="small-12 medium-6 column">
        <%= submit_tag t('admin.roles.search.search'), class: 'button' %>
      </div>
  <% end %>
</div>

<div id="search-result" class="row"></div>

<h3><%= page_entries_info @users, :entry_name => 'usuario' %></h3>

<table id="supervisors">
  <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.login, edit_admin_user_path(user) %>
        </td>
        <td>
          <%= link_to user.full_name, edit_admin_user_path(user) %>
        </td>
        <td>
          <%= user.official_position %>
        </td>
        <td>
          <%= user.organization_description %>
        </td>
        <td class="text-right">
          <% if user.has_role? params[:role_name], :any %>
              <%= link_to t('admin.roles.action.add_resource'),
                          {controller: 'admin/roles', action: :create, role_name: params[:role_name], user_id: user.id, add_resource: 'new' },
                          method: :post, class: 'button success hollow'
              %>

              <%= link_to t('admin.roles.action.delete'),
                          admin_role_path(user.roles.where(name: params[:role_name]).first, role_name: params[:role_name], user_id: user.id),
                          method: :delete,
                          class: 'button hollow alert'
              %>

          <% else %>
              <%= link_to t('admin.roles.action.add'),
                          {controller: 'admin/roles', action: :create, role_name: params[:role_name], user_id: user.id },
                          method: :post, class: 'button success hollow'
              %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= paginate @users %>

