<div class="row">

  <%= form_for [:admin, @source] do |f| %>
    <strong> Fuente: <%= @source.item.description %> </strong>
    <br>
    <br>
      <%= label_tag(:description, "Descripción")  %>
      <%= text_field_tag(:description, @source.item.description)  %>
      <%= f.check_box :fixed  %>
      <%= f.check_box :has_specification %>
      <%= f.check_box :active %>

    <%= f.submit "Actualizar fuente" %>
<% end %>
</div>
