<div class="row">
  <div class="small-12 columns">
  </div>
</div>

<div class = "row">
  <div class="small-12 columns">
    <div class="small-12 medium-2 columns">
      <%= link_to 'Volver', admin_sources_path, class: "icon-angle-double-left" %>
    </div>
    <div class="small-12 medium-2 columns">
      <%= link_to("Editar", edit_admin_source_path(@source), class: "icon-pencil",  title: t('admin.sources.index.edit')) %>
    </div>
  </div>
</div>


<div class="row">

  <table>
    <caption>
      Fuente: <%= @source.item.description %>
    </caption>
    <tr>
      <th class="text-left">Identificador</th>
      <td><%= @source.id %></td>
    </tr>
    <tr>
      <th class="text-left">Descripcion</th>
      <td><%= @source.item.description %></td>
    </tr>
    <tr>
      <th class="text-left"> Fija/automática </th>
      <td><%= @source.fixed %></td>
    </tr>
    <tr>
      <th class="text-left">Con especificación</th>
      <td><%= @source.has_specification %></td>
    </tr>
    <tr>
      <th class="text-left">Usos</th>
      <td> <%= @source.amount_uses %></td>
    </tr>
  </table>
</div>