<div class="row">
  <h1>
    <%= t('admin.activities.index.entries')%> (<%= @activities.count %>)
  </h1>
</div>
<div class="row">
  <table >
    <thead>
    <tr>
      <th><%= t('admin.activities.index.date')%></th>
      <th><%= t('admin.activities.index.user')%></th>
      <th><%= t('admin.activities.index.trackable_type')%></th>
      <th><%= t('admin.activities.index.trackable_id')%></th>
      <th><%= t('admin.activities.index.trackable_description')%></th>
      <th><%= t('admin.activities.index.key')%></th>
      <th><%= t('admin.activities.index.parameters')%></th>

    </tr>
    </thead>
    <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= l activity.created_at, format: :short %></td>
        <td><%= activity.owner.login + ' - ' + activity.owner.full_name if activity.owner.present? %></td>
        <td><%= activity.trackable_type %></td>
        <td><%= activity.trackable_id %></td>
        <td><%= activity.trackable.description if activity.trackable.present? && activity.trackable.description.present? %></td>
        <td><%= activity.key %></td>
        <td id="activities_parameters"><%= activity.parameters %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>