<%= form_for [namespace.to_sym, @user] do |f| %>
  <% unless @user.uweb_active %>
    <div class="label ancar-error">
      <strong>Usuario esta de baja en ayre/uweb. Dar de baja en la aplicacion</strong>
    </div>
  <% end %>
  <%= render 'shared/errors', resource: @user %>

  <div class="row">
      <br>
      <%= hidden_field_tag :status, @user.status %>
      <% if params[:action] == 'destroy' %>
         <%= f.submit @user.change_status, class: 'button hollow'%>
      <% end %>
    </div>

    <div class="row">
      <br>
      <table class="edit-user">
        <tr>
          <th><%= t('shared.users.edit.position') %></th>
          <td>  <strong><%= @user.official_position %> </strong></td>
        </tr>
        <tr>
          <th> <%= t('shared.users.edit.unit') %> </th>
          <td> <strong><%= @user.sap_den_unit %> /  <%= @user.sap_den_organization %> </strong> </td>
        </tr>

        <tr>
          <th> <%= t('shared.users.edit.contact') %> </th>
          <td> <%= @user.phone %> / <%= @user.email %> </td>
        </tr>
        <tr>
          <th> <%= t('shared.users.edit.created_at') %> </th>
          <td> <%= l @user.created_at %>  </td>
        </tr>
        <tr>
          <% unless @user.inactivated_at.nil? %>
              <th> <%= t('shared.users.edit.inactivated_at') %> </th>
              <td> <%= l @user.inactivated_at %>  </td>
          <% end %>
        </tr>
        <tr>
          <th> <%= t('shared.users.edit.status') %> </th>
          <td class="red <%= @user.status.downcase %>"> <%= @user.status %>      </td>
        </tr>
        <tr>
          <th> <%= t('shared.users.edit.uweb_auth') %> </th>
          <td>
            <% if (@user.uweb_auth_at.present? && @user.active?) %>
              <%= (l @user.uweb_auth_at) unless @user.uweb_auth_at.nil?  %>
            <% elsif (@user.uweb_auth_at.nil? && @user.active?) %>
              <% if @user.has_auth?(current_user).present? %>
                 <%= link_to(" Dar acceso en ayre", eval("uweb_auth_#{namespace}_user_path(@user, login: @user.login,
                                                         filter: params[:filter], page: params[:page])"),
                             class: 'icon-activate button hollow small', title: 'Dar acceso en ayre') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

<%= render 'add_roles' %>

