<div class="row">
  <div class="small-12 columns">
    <p><%= render 'back', login: @user.login, filter: params[:filter], page: params[:page] %><br></p>
    <div class="radius secondary label  small-6 columns end ">
      <h5><%= @user.login %> <%= @user.full_name %></h5>
    </div>
    <% if @user.has_auth?(current_user).present? %>
      <div class="small-6 columns">
        <%= link_to(" Actualizar datos ", eval("ws_update_#{namespace}_user_path(@user, login: @user.login, filter: params[:filter], page: params[:page])"), title: 'Actualizar puesto y organización', class: "icon-external button hollow") %>
        <% if @user.active? %>
          <%= link_to(" Dar de baja ", eval("#{namespace}_user_path(@user, login: @user.login, filter: params[:filter], page: params[:page])"), method: :delete, class: 'icon-deleted button hollow alert', title: 'Baja/desactivación del usuario') %>
        <% else %>
          <%= link_to(" Activar el usuario ", eval("activate_#{namespace}_user_path(@user, login: @user.login, filter: params[:filter], page: params[:page])"), class: 'icon-activate button hollow alert', title: 'Activar el usuario') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'form' %>