<div>
  <p><%= render 'back', login: @user.login, filter: params[:filter], page: params[:page] %><br></p>
  <h2><%= t('shared.users.new.title') %></h2>

  <%= form_for [namespace.to_sym, @user] do |f| %>
      <div class="small-6 medium-12 column">
        <%= f.label :login, "Usuario ayre" %>
        <%= f.text_field :login, label: false %>
        <%= f.hidden_field :pernr %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :surname %>
        <%= f.hidden_field :second_surname %>
        <%= f.hidden_field :document_type %>
        <%= f.hidden_field :document_number %>
        <%= f.hidden_field :uweb_id %>
        <%= f.hidden_field :uweb_active %>
        <%= f.hidden_field :inactivated_at %>
        <%= f.hidden_field :official_position %>
        <%= f.hidden_field :sap_den_unit %>
        <%= f.hidden_field :sap_den_organization %>
        <%= f.hidden_field :sap_id_unit %>
        <%= f.hidden_field :sap_id_organization %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone %>

        <%= f.submit t('shared.users.form.ws_update'), class: 'hollow button' %>

      </div>
      <% if @user.uweb_id.present? %>
        <table>
          <tr>
            <td>
              <%= @user.name %>
              <%= @user.surname %>
              <%= @user.second_surname %>
            </td>
            <td><%= @user.official_position %> </td>
            <td title="<%= @user.sap_id_unit %>"><%= @user.sap_den_unit %></td>
            <td title="<%= @user.sap_id_organization %>"><%= @user.sap_den_organization %></td>
            <td><%= @user.email %></td>
            <td><%= @user.phone %></td>
            <td><%= f.submit t('shared.users.form.new'), class: 'hollow button' %></td>
          </tr>
        </table>
      <% end %>

  <% end %>
</div>
