<div class="row">
  <div class="small-12 columns">
    <p><%= render 'back', login: @user.login, filter: params[:filter], page: params[:page] %><br></p>
    <div class="radius secondary label small-6 columns end">
      <h5><%= @user.login %> <%= @user.full_name %></h5>
    </div>
    <% if @user.has_auth?(current_user).present? %>
      <div class="small-6 medium-2 columns">
        <%= link_to(" Editar", eval("edit_#{namespace}_user_path(@user, login: @user.login, filter: params[:filter], page: params[:page])"),
                  title: 'Detalle del usuario', class: "icon-search button hollow") %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'form' %>

