<section id="show-user-data" class="row">
  <table>
    <thead>
      <tr>
        <th> <%= t('admin.users.roles.role.role') %> </th>
        <th> <%= t('admin.users.roles.role.resource') %> </th>
        <th> <%= t('admin.users.roles.role.item') %> </th>
      </tr>
    </thead>
    <tbody>
      <% unless @user.has_any_role? %>
        <tr id="user">
          <td> <em><%= t('admin.users.roles.no_role') %> </em></td>
        </tr>
      <% else %>
        <% @user.filter_roles(params[:role_name]).each do |role| %>
          <tr id="user">
            <td> <%=role.no_empty_name %> </td>
            <td> <%= role.resource_type_description %> </td>
            <td> <%= role.resource_id_description %> </td>
            <% if params[:action] == 'edit' %>
              <td id= "button_destroy">
                <%= link_to t('admin.users.roles.remove_resource'),
                        remove_role_admin_user_path(id: @user, role: role),
                               class: 'button hollow  small' %>
              </td>
            <% end %>
          </tr>
        <% end %>
       <% end %>
    </tbody>
  </table>
</section>

<section id="add_role" class="row">

  <% if params[:action] == 'edit' && @user.active?%>
    <%= form_tag(controller: 'users', action: 'roles') do %>
       <table>
         <caption><%= t('admin.users.roles.title') %></caption>
         <tr>
           <td>
            <%= label_tag :role_1, t('admin.users.roles.add_role') %>
            <%= select_tag(:role_1, options_for_select(roles_select_options(@user, Organization)),
                             label: false, placeholder: t('admin.roles.add_role.title')) %>
            </td>
            <td>
              <%= label_tag :resource_id_1, t('admin.roles.add_resource.resource') %>
              <%= select_tag(:resource_id_1, grouped_options_for_select(resources_select_options(@user, Organization)),
                     label: false) %>
            </td>
            <td>
              <%= submit_tag t('admin.roles.add_role.submit'), class: 'button hollow success small', :name => 'Organization' %>
            </td>
         </tr>
         <tr>
            <td>
              <%= label_tag :role_2, t('admin.users.roles.add_role') %>
              <%= select_tag(:role_2, options_for_select(roles_select_options(@user, OrganizationType)),
                             label: false, placeholder: t('admin.roles.add_role.title') ) %>
            </td>
            <td>
              <%= label_tag :resource_id_2, t('admin.roles.add_resource.organization_type') %>
              <%= select_tag(:resource_id_2, grouped_options_for_select(resources_select_options(@user, OrganizationType)),
                             label: false, placeholder: t('admin.roles.add_role.resource'))%>
            </td>
            <td>
              <%= submit_tag t('admin.roles.add_role.submit'), class: 'button hollow success small', :name => 'OrganizationType' %>
            </td>
          </tr>
       </table>
    <% end %>
  <% end %>
</section>



