<%= form_for [:admin, @user] do |f| %>
    <%= render 'shared/errors', resource: @user %>
    <div class="row">
      <br>
      <%= hidden_field_tag :status, @user.status %>
      <% if params[:action] == 'destroy' %>
         <%= f.submit @user.change_status, class: 'button hollow'%>
      <% end %>
    </div>

    <div class="row">
      <br>
      <table class="edit-user">
        <tr>
          <th><%= t('admin.users.edit.position') %></th>
          <td>  <strong><%= @user.official_position %> </strong></td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.unit') %> </th>
          <td> <strong><%= @user.sap_den_unit %> </strong> </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.organization') %> </th>
          <td> <strong><%= @user.sap_den_organization %> </strong> </td>
        </tr>

        <tr>
          <th> <%= t('admin.users.edit.phone') %> </th>
          <td> <strong><%= @user.phone %> </strong> </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.email') %> </th>
          <td> <strong><%= @user.email %> </strong> </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.created_at') %> </th>
          <td> <strong><%= @user.created_at %> </strong> </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.status') %> </th>
          <td class="red <%= @user.status.downcase %>"> <%= @user.status %> </td>
        </tr>

        <% unless @user.inactivated_at.nil? %>
            <tr>
              <td> <%= t('admin.users.edit.inactivated_at') %> </td>
              <td> <strong><%= @user.inactivated_at %> </strong> </td>
            </tr>
        <% end %>

        <% if @user.has_any_role? %>
            <%= render 'admin/shared/roles' %>
        <% end %>
      </table>
    </div>
<% end %>
