<%= form_for [:admin, @user] do |f| %>
    <%= render 'shared/errors', resource: @user %>
    <div class="row">
      <br>
      <%= hidden_field_tag :status, @user.status %>
      <% if params[:action] == 'destroy' %>
         <%= f.submit @user.change_status, class: 'button hollow'%>
      <% end %>
    </div>

    <div class="row">
      <br>
      <table class="edit-user">
        <tr>
          <th><%= t('admin.users.edit.position') %></th>
          <td>  <strong><%= @user.official_position %> </strong></td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.unit') %> </th>
          <td> <strong><%= @user.sap_den_unit %> /  <%= @user.sap_den_organization %> </strong> </td>
        </tr>

        <tr>
          <th> <%= t('admin.users.edit.contact') %> </th>
          <td> <%= @user.phone %> / <%= @user.email %> </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.created_at') %> </th>
          <td> <%= l @user.created_at %>  </td>
        </tr>
        <tr>
          <% unless @user.inactivated_at.nil? %>
              <th> <%= t('admin.users.edit.inactivated_at') %> </th>
              <td> <%= l @user.inactivated_at %>  </td>
          <% end %>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.status') %> </th>
          <td class="red <%= @user.status.downcase %>"> <%= @user.status %>      </td>
        </tr>
        <tr>
          <th> <%= t('admin.users.edit.uweb_auth') %> </th>
          <td>
            <% if (@user.uweb_auth_at.present? && @user.active?) %>
              <%= (l @user.uweb_auth_at) unless @user.uweb_auth_at.nil?  %>
            <% elsif (@user.uweb_auth_at.nil? && @user.active?) %>
              <%= link_to(" Dar acceso en ayre", uweb_auth_admin_user_path(@user, login: @user.login,
                                                                           filter: params[:filter], page: params[:page]),
                          class: 'icon-activate button hollow small', title: 'Dar acceso en ayre') %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

<%= render 'add_roles' %>

