<div class="row">
  <div class="small-12 columns">
    <p><%= render 'shared/back' %><br></p>
    <div class="radius secondary label  small-6 columns">
      <h4><%= @user.login %> <%= @user.full_name %></h4>
    </div>
    <div class="small-6 columns">
      <%= link_to(" Actualizar datos ", ws_update_admin_user_path(@user, tr_id: @user.login, caller_action: params[:action]), title: 'Actualizar puesto y organización', class: "icon-external button hollow") %>
      <%= link_to(" Dar de baja ", admin_user_path(@user), method: :delete, class: 'icon-deleted button hollow alert', title: 'Baja del usuario') %>
    </div>
  </div>
</div>

<%= render 'form' %>