<div>
  <h2><%= t('admin.users.index.title') %></h2>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-10 columns">
      <%= form_tag search_admin_users_path(role_name: params[:role_name]), method: :get, remote: true  do %>
          <div class="small-12 medium-8 column">
            <%= text_field_tag :search, '', placeholder: t('admin.users.search.login_placeholder') %>
          </div>
          <div class="small-12 medium-4 column">
            <%= submit_tag t('admin.roles.search.search'), class: 'button' %>
          </div>
      <% end %>
    </div>
      <div class="small-12 medium-2 column end">
        <%= link_to t('admin.roles.index.new'),  new_admin_user_path ,class: ' icon-user-plus hollow button small' %>
      </div>
  </div>
</div>

<div id="search-result" class="row"></div>

<span id="user_tabs"><%= render 'shared/filter_subnav', i18n_namespace: 'admin.users.index' %></span>

<h3><%= page_entries_info @users, :entry_name => 'usuario'%></h3>
<!--%= render 'item_list' %-->

<table class="hover">
  <thead>
    <tr>
      <th><%= t('admin.users.index.row.login') %></th>
      <th><%= t('admin.users.index.row.name') %></th>
      <th><%= t('admin.users.index.row.position') %></th>
      <th><%= t('admin.users.index.row.unit') %></th>
      <th><%= t('admin.users.index.row.organization') %></th>
      <th><%= t('admin.users.index.row.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr >
      <td>
        <%= link_to user.login, admin_user_path(user), id: "#{user.login}" %>
      </td>
      <td>
        <%= user.full_name%>
      </td>
      <td> <%= user.official_position %> </td>
      <td> <%= user.sap_den_unit %> </td>
      <td> <%= user.sap_den_organization %> </td>
      <td>
        <%= link_to("", admin_user_path(user, filter: params[:filter], page: params[:page]),
                    title: 'Detalle del usuario', class: "icon-search") %>
        <%= link_to("", edit_admin_user_path(user, filter: params[:filter], page: params[:page]),
                    title: 'Modificar el usuario y añadir permisos', class: "icon-pencil") %>
        <%= link_to("", ws_update_admin_user_path(user, filter: params[:filter], page: params[:page]),
                    title: 'Actualizar puesto y organización', class: "icon-cloud-download") %>

      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot> </tfoot>
</table>

<%= paginate @users %>
