
<div>
 <h3 class= "center"> <%= @organization_type.name %> / <%= @period.name %></h3>
 <h3> <%= @organization_type.name %> /</h2>
</div>

  <table>
    <% @indicators.each do  |indicator|%>
      <tr id="<%= dom_id(main_process) %>">
        <td>
          <div class="admin-list small-12 medium-14 column">
            <%= indicator.description %>
          </div>
        </td>
        <td>
        </td>
        <td>
          <%= link_to edit_admin_indicator_path(indicator),
              class: 'button warning float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.actions.edit") %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_indicator_path(indicator), method: :delete,
              class: 'button alert float-right' do %>
                <span class="icon-delete"></span>
                <%= t("admin.actions.delete") %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
