
<div>
  <div class="expanded highlight padding">
     <strong><%= @organization_type.name %> / <%= @period.name %></strong>
     <h3><%= @main_process.description %> </h3>
     <h3> <%= @sub_process.description %></h3>
  </div>
</div>
<div class="row">
  <div class="column medium-9">
    <strong> <%= @task.description %> </strong>
  </div>
</div>

  <table>
    <% @indicators.each do  |indicator|%>
      <tr id="<%= dom_id(indicator) %>">

        <td>
          <div class="admin-list small-12 medium-14 column">
            <%= indicator.description %>
          </div>
        </td>
        <td>
        </td>
        <td>
          <%= link_to edit_admin_indicator_path(indicator),
              class: 'button warning float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.actions.edit") %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_indicator_path(indicator), method: :delete,
              class: 'button alert float-right' do %>
                <span class="icon-delete"></span>
                <%= t("admin.actions.delete") %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
