<%= render 'shared/errors', resource: @main_process %>
<h5><%= @period.description %></h5>
<h5><%= @main_process.order %>. <%= @main_process.item.description %></h5>

<%= form_tag do %>
  <br>
  <div class="small-8 columns" >
    <label for="item_description"><%= t("manager.main_processes.form.description")%></label>
    <input list="item_description" type="text" name="item_desc"
          value="<%=@main_process.item.description %>"  onclick="this.value=''">
    <datalist id="item_description"%>" >
      <% @items.each do |item| %>
        <% if @main_process.item_id == item[1] %>
          <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
          <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-12 column" ></div>
  <div class="small-1 column">
    <%= label_tag :order, t("manager.main_processes.form.order") %>
    <%= text_field_tag(:order, @main_process.order) %>
  </div>

  <div class="actions small-12 column">
    <%= submit_tag t("actions.#{action_name}"), class: "button tiny hollow"%>
  </div>
<% end %>
