<%= render "shared/back" %>
<div class="row">
  <div class="small-12 columns">
    <h2><%= t("manager.#{MainProcess.name.underscore.pluralize}.#{action_name}.title") %>  </h2>
  </div>
</div>

<div class="row">
  <div class="highlight small-12 columns">
    <h3> <%= @period.organization_type.description %> / <%= @period.description %></h3>
  </div>
  <div class="small-12 column">
    <%=  render "form" %>
  </div>
</div>
