<div>

 <h3> <%= title %> </h3>
</div>
  <table>
    <% @resource.each do  |resource|%>
      <tr id="<%= dom_id(#{resource}) %>">
        <td>
          <div class="admin-list small-12 medium-6 column">
            <%= resource.description %>
          </div>
        </td>
        <td>
          <%= link_to son_resource_path,
          link_to  :controller => resource, :process resource
              class: 'button succes float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.class.to_s.underscore.index.#{son_resource}") %>
          <% end %>
        </td>
        <td>
          <%= link_to resource_edit_path,
              class: 'button warning float-right' do %>
                <span class="icon-edit"></span>
                <%= t("admin.#{resource}.index.edit") %>
          <% end %>
        </td>
        <td>
          <%= link_to resource_path(id), method: :delete,
              class: 'button alert float-right' do %>
                <span class="icon-delete"></span>
                <%= t("admin.#{resource}.index.delete") %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
