<section id="show-user-data" class="row">
  <table>
    <thead>
      <tr>
        <th> <%= t('admin.users.roles.role.role') %> </th>
        <th> <%= t('admin.users.roles.role.resource') %> </th>
        <th> <%= t('admin.users.roles.role.item') %> </th>
      </tr>
    </thead>
    <tbody>
      <% unless @user.has_any_role? %>
        <tr id="user">
          <td> <em><%= t('admin.users.roles.no_role') %> </em></td>
        </tr>
      <% else %>
        <% @user.filter_roles(params[:role_name]).each do |role| %>
          <tr id="user">
            <td> <%=role.no_empty_name %> </td>
            <td> <%= role.resource_type_description %> </td>
            <td> <%= role.resource_id_description %> </td>
            <% if params[:action] == 'edit' %>
              <td id= "button_destroy">
                <%= link_to t('admin.users.roles.remove_resource'),
                        admin_role_path(role.id, user_id: @user.id,
                               remove_resource: [role.resource_type, role.resource_id] ),
                               action: :destroy, method: :delete, class: 'button hollow  small' %>
              </td>
            <% end %>
          </tr>
        <% end %>
       <% end %>
    </tbody>
  </table>
</section>

<section id="add_role" class="row">
  <table>
    <% if params[:action] == 'edit' && @user.active?%>
      <caption><%= t('admin.users.roles.title') %></caption>
      <%= form_tag(controller: 'users', action: 'roles') do %>
          <%= hidden_field_tag :resource_type, 'Organization' %>
         <tr>
           <td>
            <%= label_tag :role, t('admin.users.roles.add_role') %>
            <%= select_tag :role, options_for_select(User.roles_select_options, include_blank: t('admin.roles.add_role.select.role') ),
                             label: false, placeholder: t('admin.roles.add_role.title') %>
            </td>
            <td>
              <%= label_tag :resource_id, t('admin.roles.add_resource.resource') %>
              <%= select_tag :resource_id, options_for_select(Organization.select_options, {include_blank: t('admin.roles.add_role.select.organization') }),
                             label: false, placeholder: t('admin.roles.add_role.resource') %>
            </td>
            <td>
              <%= submit_tag t('admin.roles.add_role.submit'), class: 'button hollow success small', :name => 'add_role' %>
            </td>
         </tr>
      <% end %>
    <% end %>
  </table>
</section>



