<table>
  <thead>
    <tr>
      <th> <%= t('admin.roles.role.role') %> </th>
      <th> <%= t('admin.roles.role.resource') %> </th>
      <th> <%= t('admin.roles.role.item') %> </th>
    </tr>
  </thead>
  <tbody>
    <% @user.filter_roles(params[:role_name]).each do |role| %>
    <tr id="user">
      <td> <%=role.no_empty_name %> </td>
      <td> <%= role.resource_type_description %> </td>
      <td> <%= role.resource_id_description %> </td>
      <td id= "button_destroy">
        <%= link_to t('admin.roles.remove_resource'),
                    admin_role_path(role.id, user_id: @user.id,
                                    remove_resource: [role.resource_type, role.resource_id] ),
                       action: :destroy, method: :delete, class: "button hollow"  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>