<%= render 'shared/errors', resource: @sub_process %>

<%= form_for [:manager, @sub_process] do |f| %>
  <br>
  <%= f.hidden_field :main_process_id, value: @main_process.id %>
  <%= f.hidden_field :modifiable, value: params[:modifiable]%>
  <%= f.hidden_field :eliminable, value: params[:eliminable]%>
  <div class="small-8 columns" >
    <label for="unit_type_description"><%= t('manager.sub_processes.form.unit_type')%></label>
    <input list="unit_type_description" type="text" name="unit_type_desc" value="<%= @sub_process.unit_type.description unless @sub_process.id.nil? %>"  ">
    <datalist id="unit_type_description" %>">
      <% @unit_types.each do |unit_type| %>
        <% if @sub_process.unit_type_id == unit_type[1] %>
         <option id="<%= unit_type.id %>" value="<%= unit_type.description %>" selected="true">
        <% else %>
         <option id="<%= unit_type.id %>" value="<%= unit_type.description %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-8 columns" >
   <label for="item_description"><%= t('manager.sub_processes.form.description')%></label>
    <input list="item_description" type="text" name="item_desc" value="<%= @sub_process.item.description unless @sub_process.id.nil? %>"  ">
    <datalist id="item_description"%>" >
      <% @items.each do |item| %>
        <% if @sub_process.item_id == item[1] %>
         <option id="<%= item[1] %>" value="<%= item[0] %>" selected="true">
        <% else %>
         <option id="<%= item[1] %>" value="<%= item[0] %>">
        <% end %>
      <% end %>
    </datalist>
  </div>

  <div class="small-12 column" ></div>
  <div class="small-1 column">
    <%= f.label :order, t('manager.sub_processes.form.order') %>
    <%= f.text_field :order, label: false,
        placeholder: t('manager.sub_processes.form.order') %>
  </div>
  <div class="actions small-12 column">
    <%= f.submit t("actions.#{action_name}"), class: 'button tiny hollow'%>
  </div>
<% end %>
