<div class="expanded highlight padding">
 <h3> <%= @organization_type.description %> / <%= @period.description %></h3>
  <h4> <%= @main_process.item.description %></h4>
</div>

<br>
<table>
  <% @sub_processes.each do  |sub_process|%>
    <% if @unit_type_before != unit_type_description(sub_process.unit_type_id) %>
      <tr>
        <td class="expanded highlight">
          <%= unit_type_description(sub_process.unit_type_id) %>
        </td>
        <td class="expanded highlight"></td>
        <td class="expanded highlight"></td>
        <td class="expanded highlight"></td>
      </tr>
      <% @unit_type_before = unit_type_description(sub_process.unit_type_id)%>
    <% end %>
    <tr id="<%= dom_id(sub_process) %>">
      <td class="admin-list">
        <%= sub_process.order %> <%= description(0, sub_process.item_id) %>
      </td>
      <td>
        <%= link_to manager_tasks_path(commit: t("manager.tasks.index.submit"),
              main_process_id: sub_process.main_process_id,
              modifiable: params[:modifiable],
              eliminable: params[:eliminable],
              sub_process_id: sub_process.id),
            id: "index_#{sub_process.id}",
            class: 'button small float-right hollow' do %>
              <span class="icon-tag"></span>
              <%= t("manager.sub_processes.index.tasks") %>
        <% end %>
      </td>
      <td>
        <% if params[:modifiable] == 'true' %>
          <%= link_to edit_manager_sub_process_path(sub_process,
              period_id: params[:period_id],
              organization_type_id: params[:organization_type_id],
              modifiable: params[:modifiable],
              eliminable: params[:eliminable]),
              id: "edit_#{sub_process.id}",
              class: 'button small float-right hollow' do %>
                <span class="icon-edit"></span>
                <%= t("actions.edit") %>
              <% end %>
          <% end %>
      </td>
      <td>
        <% if params[:modifiable] == 'true' %>
            <% msg = delete_msg(sub_process.class.name.pluralize.underscore, params[:eliminable], params[:modifiable], sub_process.is_empty? ) %>
            <%= link_to manager_sub_process_path(sub_process), method: :delete,
                data: {confirm: msg},
                id: "delete_#{sub_process.id}",
                class: 'button small alert float-right hollow' do %>
                <span class="icon-box"></span>
                <%= t("actions.delete") %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
